// Paths to images
$card = 'images/card'
$small = 'images/small'
$medium = 'images/medium'
$large = 'images/large'

// Image file extension
$image-ext = 'jpg'

// Filenames
$images = {
  'aal': 'greg-myers',
  'aar': 'ekman',
  'abe': 'lehigh-valley-pa',
  'abq': 'david-basanta',
  'ack': 'thisisbossi',
  'adl': 'georgie-sharp',
  'aer': 'stefan-krasowski',
  'aga': 'mhobl',
  'agp': 'elliott-brown',
  'ags': 'j-stephen-conn',
  'akl': 'mario-ruckh',
  'amd': 'htrapj',
  'ala': 'vmenkov',
  'alb': 'alan-levine',
  'alc': 'paul-thompson',
  'amm': 'rajesh-pamnani',
  'ams': 'wayne-taylor',
  'anc': 'frank-kovalchek',
  'anr': 'stijn-hosdez',
  'aqp': 'goss-nuzzo-jones',
  'arn': 'samuel-bietenholz',
  'ath': 'dinos',
  'atl': 'jon-tan',
  'atq': 'jliptoid',
  'aus': 'jon-collier',
  'aza': 'david-crummey',
  'azo': 'not-aaron',
  'bcn': 'camilo-rueda-lopez',
  'bdl': 'pixel',
  'bdo': 'ikhlasul-amal',
  'bed': 'chris-devers',
  'beg': 'paradasos',
  'bey': 'chuck-holton',
  'bfs': 'nats-press-office',
  'bgr': 'tim-rodenberg',
  'bhm': 'mary',
  'bhx': 'martin-hartland',
  'bio': 'kent-wang',
  'bkf': 'mark-stevens',
  'bki': 'aeab',
  'bkk': 'roger-price',
  'blk': 'jay-jerry',
  'blr': 'ramesh-ng',
  'bmi': 'kent-kanouse',
  'bna': 'shooting-chris',
  'bog': 'stephen-downes',
  'boh': 'dean-morley',
  'boi': 'mark-hillary',
  'bom': 'chris-hoare',
  'bos': 'andrew-malone',
  'bpn': 'rizki-aftarianto',
  'bre': 'peronimo',
  'bru': 'patrice-heylighen',
  'brw': 'mike-smail',
  'bsb': 'bruno-coutinho',
  'bsl': 'aurm',
  'btj': 'dinokl',
  'bts': 'jakubsabata',
  'btv': 'neil-hunt',
  'bud': 'hatm',
  'buf': 'julien-bowry',
  'bur': 'karol-franks',
  'bwi': 'mike-procario',
  'bzn': 'roderick-hsiao',
  'cae': 'mark-hesseltine',
  'cai': 'courtney-collison',
  'cak': 'ken-lund',
  'can': 'matt-weibo',
  'cbg': 'neil-mcintosh',
  'ccs': 'carlos-graterol',
  'ccu': 'paul-hamilton',
  'ccj': 'sreejithk2000',
  'cdg': 'giacomo-carena',
  'ceb': 'cyberjos',
  'cgh': 'barbara-dieu',
  'cgk': 'donoshsugi',
  'cgn': 'mw',
  'cha': 'larry-miller',
  'chs': 'scpetrel',
  'cid': 'carole',
  'cld': 'alan-cordova',
  'cle': 'trey-ratcliff',
  'clo': 'mario-carvajal',
  'clt': 'steve-sara-emry',
  'cmb': 'anshu',
  'cmh': 'gmanviz',
  'cmn': 'dan-diffendale',
  'cnf': 'pacgov',
  'cnx': 'autan',
  'cok': 'prasad-pillai',
  'cph': 'easysleazycheesy',
  'cpt': 'flowcomm',
  'crl': 'lanzate',
  'crw': 'rich',
  'ctg': 'david-shankbone',
  'cul': 'malova-gobernador',
  'cuz': 'davide',
  'cvg': 'robert-s-donovan',
  'cwb': 'infraero',
  'cwl': 'nats-press-office',
  'dab': 'micah-maziar',
  'dac': 'zaed-zaman',
  'dad': 'dragfyre',
  'dal': 'jayraz',
  'day': 'redlegsfan21',
  'dca': 'thisisbossi',
  'den': 'bart-heird',
  'del': 'nadir-hashmi',
  'dfw': 'jim-nix',
  'dme': 'luis-jou-garcia',
  'dmk': 'jon-collier',
  'dmm': 'biboyworxxx',
  'dnd': 'matthew-jackson',
  'dnk': 'gnesener1900',
  'doh': 'takahiro-hayashi',
  'dps': 'sony-dwi-fajrian',
  'dsa': 'victor',
  'dtm': 'andreas',
  'dtn': 'redtail_panther',
  'dtw': 'scott-beale',
  'dub': 'tearbringer',
  'dus': 'eole-wind',
  'dvo': 'danes96',
  'dxb': 'roger-price',
  'edi': 'paradasos',
  'ein': 'noel-hidalgo',
  'ema': 'matt-buck',
  'evn': 'p-fabian',
  'ewr': 'bartnj',
  'eyw': 's-kaiser',
  'eze': 'gilmar-mattos',
  'fae': 'arne-list',
  'fao': 'owen-rudge',
  'far': 'north-dakota-national-guard',
  'fat': 'mike-boening',
  'fca': 'theilr',
  'fez': 'ruben-balderas',
  'fco': 'maurizio-pucci',
  'flr': 'martin-kalfatovic',
  'fnc': 'alexander-baxevanis',
  'fnt': 'nein09',
  'fra': 'nicolas-rupcich',
  'fru': 'gleb-osokin',
  'fsd': 'donna',
  'fun': 'nick-hobgood',
  'fwa': 'samuraijohnny',
  'gan': 'dd',
  'gau': 'abymac',
  'gdl': 'bill-bumgarner',
  'geg': 'brendan-biele',
  'gib': 'steve-slater',
  'gig': 'victor-camilo',
  'gjt': 'marshall-segal',
  'gla': 'paisley-scotland',
  'gmp': 'aceebee',
  'gnv': 'douglasgreen',
  'got': 'silfa-zoidberg',
  'grb': 'grbairport',
  'gro': 'lukas-lalinsky',
  'grr': 'bill-couch',
  'gru': 'fernando-stankuns',
  'gva': 'julien-belli',
  'gyd': 'geshmally',
  'haj': 'jan-christoph-behre'
  'ham': 'medvedev',
  'hel': 'sergey-nazarov',
  'hhn': 'n',
  'hkd': 'hideyuki-kamon',
  'hkg': 'chris',
  'hlp': 'andri-priyo-utomo',
  'hog': 'willemvanbergen',
  'hnd': 'hideyuki-kamon',
  'hnl': 'brian-burger',
  'hou': 'ryan-basilio',
  'hpn': 'terretta',
  'hri': 'anuradha-dullewe-wijeyeratne',
  'hyd': 'rahul-deshpande',
  'iad': 'the-q-speaks',
  'iah': 'josh-hallett',
  'icn': 'marcella-bona',
  'ict': 'michael-sauers',
  'idr': 'srinivasan-rajappa',
  'iev': 'igor-bubin',
  'ind': 'don-j-schulte',
  'inv': 'dis-motion-pictures',
  'ipc': 'uncommon-fritillary',
  'isb': 'muzaffar-bukhari',
  'ist': 'jaime-silva',
  'itm': 'joe-jones',
  'ixa': 'pp-yoonus',
  'ixc': 'aries-liang',
  'ixz': 'jpatokal-2',
  'jac': 'sarah-nichols',
  'jai': 'sranjanm2002',
  'jax': 'joe-shlabotnik',
  'jed': 'ifc-infrastructure',
  'jer': 'dan-marsh',
  'jfk': 'timothy-vogel',
  'jnb': 'len-edgerly',
  'jog': 'debbs',
  'kbp': 'marco-fieber',
  'kef': 'o-palsson',
  'khi': 'andrew-wiseman',
  'kix': 'andi-halim',
  'kno': 'picturepest',
  'koa': 'thomas-tunsch',
  'krr': 'obakeneko',
  'ktm': 'jay-galvin',
  'ktt': 'chiva-congelado',
  'kul': 'j',
  'lan': 'aaron-headly',
  'las': 'kevin-reese',
  'lax': 'thomas-hawk',
  'lbu': 'cephoto',
  'lcg': 'caneles',
  'lcy': 'jonathan-e-shaw',
  'led': 'dmitriy-korzhev',
  'lex': 'blue-grass-airport',
  'lga': 'stantontcady',
  'lgg': 'albert-massar',
  'lgk': 'jack',
  'lgw': 'antoine-camelin',
  'lhe': 'jibran-bin-dawood',
  'lhr': 'twinkabaute',
  'lih': 'brian-snelson',
  'lim': 'vasenkaphotography',
  'lin': 'stefano-f',
  'lis': 'hom26',
  'lit': 'johnathan-jianu',
  'lju': 'lars-plougmann',
  'lko': 'ahmedfaizy',
  'los': 'afromusing',
  'lpb': 'carloshernandez',
  'lwo': 'patrickmcd',
  'lyr': 'alvaroprieto',
  'lys': 'mll',
  'maa': 'sitik-das',
  'mad': 'anh-dinh',
  'maf': 'loadedaaron',
  'man': 'gary-mcnair',
  'mbs': 'doc-searls',
  'mci': 'zhao-shouren',
  'mco': 'benjamin-thompson',
  'mct': 'prasad-pillai',
  'mdt': 'timothy-rezendes',
  'mdw': 'jackie-popp',
  'mel': 'christopher',
  'mem': 'joseph',
  'mex': 'george-oates',
  'mfd': 'ohwiki',
  'mgm': 'rivers-a-langley',
  'mht': 'elizabeth-krumbach-joseph',
  'mia': 'lotus-carroll',
  'mke': 'jasonic',
  'mkg': 'nenyedi',
  'mle': 'ibrahim-asad',
  'mlh': 'aurm',
  'mli': 'farragutful',
  'mme': 'aebrookes',
  'mnl': 'philipp-manila-sonderegger',
  'mrs': 'rupert-ganzer',
  'mru': 'cypherone',
  'msn': 'diego-laconelli',
  'msp': 'tom-kelly',
  'msq': 'laurence-vagner',
  'mst': 'rpvdk',
  'msy': '3dom',
  'muc': 'gache-wurzn',
  'mvd': 'andres-de-leon',
  'mxe': 'caleb-howell',
  'mxp': 'jorge-diaz',
  'nag': 'nikkul',
  'nbo': 'nairobi123',
  'nce': 'm-louis',
  'ncl': 'newcastle-airport',
  'ngo': 'gryffindor',
  'nqy': 'christian-lee',
  'nrn': 'sergey-melkonov',
  'nrt': 'ryan-healy',
  'nte': 'olivier-cabaret',
  'nwi': 'elliott-brown',
  'oak': 'sonny-abesamis',
  'ods': 'aps',
  'ogg': 'jonathan-caves',
  'okc': 'wesley-fryer',
  'oma': 'jimmy-emerson-dvm',
  'ont': 'rich',
  'opo': 'alda-silva',
  'ord': 'nick-harris',
  'orf': 'stacey-huggins',
  'orh': 'terageorge',
  'ork': 'emanuela-zibordi',
  'ory': 'grid',
  'osl': 'jaime-silva',
  'ost': 'calflier001',
  'otp': 'cristian-bortes',
  'oul': 'sami-oinonen',
  'pbi': 'd-ramey-logan',
  'pdx': 'kerry-l',
  'pek': 'matt-weibo',
  'pen': 'john-ong',
  'phf': 'phf-airport',
  'phl': 'uchiuska',
  'phx': 'liebe5',
  'pie': 'eric-salard',
  'pik': 'the-shaun-woods',
  'pit': 'john-marino',
  'pmi': 'vosta',
  'pnk': 'wakx',
  'pnq': 'randy-breese',
  'pns': 'chapstickaddict',
  'pos': 'debangsu4',
  'prg': 'jill',
  'psc': 'mattmcgee',
  'psp': 'randy-heinitz',
  'pty': 'carlos-alberto-gonzalez-palomino'
  'pvd': 'marc-choquette',
  'pvg': 'greenarcher04',
  'pwm': 'jimmy-emerson-dvm',
  'rak': 'thomas-leuthard',
  'rba': 'frenchinmorocco',
  'rdu': 'suzie-tremmel',
  'rec': 'thorsten-wockener',
  'rfd': 'jake-mackenzie',
  'rgn': 'eugene-phoen',
  'ric': 'ronnie-pitman',
  'riw': 'recoilrick',
  'rjl': 'juanje-2712',
  'rix': 'dainis-matisons',
  'roa': 'aaron-knox',
  'ros': 'facu-fernandez',
  'rov': 'serge-bystro',
  'rpr': 'ambuj-kulshresth-2',
  'rst': 'flyrst',
  'rsw': 'b',
  'rtm': 'olbrug',
  'rze': 'rzeszow-jasionka',
  'san': 'nathan-rupert',
  'sat': 'san-antonio-airport-system',
  'sav': 'nicolas-nova',
  'sba': 'adam-fagen',
  'sbn': 'jo-and-joey',
  'scl': 'lane-becker',
  'scq': 'philips-indal-lighting',
  'sdf': 'lisa-padilla',
  'sdu': 'veroyama',
  'sea': 'drburtoni',
  'sen': 'calflier001',
  'sfo': 'richard-winchell',
  'sgn': 'robertus-b-herdiyanto',
  'sgy': 'cruisair'
  'sha': 'veoloo',
  'shv': 'ken-lund',
  'sin': 'balaji-dutt-mv',
  'sjc': 'corey-seeman',
  'sjo': 'eric-t-gunther',
  'sju': 'davsot',
  'slc': 'andrew-herington',
  'smf': 'rich',
  'sna': 'peter-talke',
  'snn': 'wolf32at',
  'soc': 'wikisanktgerard',
  'sof': 'emilstefanov',
  'sou': 'stuart-bryant',
  'spu': 'ballota',
  'sql': 'nelsonminar',
  'srg': 'curtis-ferrell',
  'ssf': 'san-antonio-airport-system',
  'stl': 'rich',
  'stn': 'john-lord',
  'stp': 'tony-webster',
  'str': 'dieter-weinelt'
  'sts': 'prayitno',
  'sub': '123_456',
  'sux': 'david-mulder',
  'svo': 'jaime-silva',
  'svx': 'falschivomonetchick',
  'sxf': 'aero-icarus',
  'sun': 'dieseldemon',
  'svq': 'luis-jou-garcia',
  'sxm': 'aero-icarus',
  'syd': 'bobby-das',
  'syr': 'new-york-national-guard',
  'szb': 'suncon-photos',
  'szg': 'flightlog',
  'tas': 'ramon',
  'tbs': 'james-emery',
  'tfn': 'lionicex',
  'tfs': 'marinocarlos',
  'tgd': 'estorde',
  'tia': 'george-redgrave',
  'tll': 'ton-zijlstra',
  'tls': 'ekhinos',
  'tlv': 'hjl',
  'tng': 'calflier001',
  'tol': 'micah-maziar',
  'tpa': 'robert-s-donovan',
  'tpe': 'ali-reza-zamil',
  'tri': 'joevare',
  'trv': 'aleksandr-zykov',
  'tse': 'alex-j-butler',
  'ttn': 'ken-lund',
  'tul': 'rex-brown',
  'tus': 'seen-not-heard',
  'txl': 'mika-stetsovski',
  'tys': 'tasha-lutek',
  'ufa': 'vhorvat',
  'uio': 'aero-icarus',
  'upg': 'midori',
  'ush': 'david-stanley',
  'uud': 'sergey-vladimirov',
  'vam': 'dd',
  'vce': 'nekotank',
  'vcp': 'eduardo-otubo',
  'vie': 'rosmary',
  'vko': 'peter-pz',
  'vlc': 'robyn-lee',
  'vno': 'david-holt',
  'vns': 'kevin-tsai',
  'waw': 'robert-s-donovan',
  'wlg': 'kathrin-stefan-marks',
  'wro': 'krzewi',
  'xiy': 'acidbomber',
  'xnn': 'johnlaudun',
  'xry': 'pedro-de-matos',
  'ylt': 'jasonbelliveau',
  'ygo': 'lee-prouten',
  'ylw': 'adam-jones',
  'yow': 'doug-zwick',
  'vps': 'flyvps',
  'yqb': 'eric-begin',
  'ytz': 'fanagt',
  'yul': 'hussein-abdallah',
  'yvr': 'rick-schwartz',
  'ywg': 'aj-batac',
  'yxy': 'canadian2006'
  'yyz': 'coralie-mercier',
  'zag': 'andrew-nash',
  'zrh': 'reto-fetz',
}