// Paths to images
$card = 'images/card'
$small = 'images/small'
$medium = 'images/medium'
$large = 'images/large'

// Image file extension
$image-ext = 'jpg'

// Filenames
$images = {
  'aal': 'greg-myers',
  'aar': 'ekman',
  'abc': 'alejandro-navarro-lopez',
  'abe': 'lehigh-valley-pa',
  'abi': 'abilene-regional-airport',
  'abj': 'united-nations-photo',
  'abq': 'david-basanta',
  'abv': 'jeff-attaway',
  'abz': 'gregory-deryckere',
  'aca': 'jarnocan',
  'acc': 'rjruiziii',
  'ace': 'unai-pascual-loyarte',
  'ack': 'thisisbossi',
  'add': 'vob08',
  'adl': 'georgie-sharp',
  'aep': 'erik-araujo',
  'aer': 'stefan-krasowski',
  'aes': 'algkalv',
  'aga': 'mhobl',
  'agb': 'markus-wichmann',
  'agc': 'shane-simmons',
  'agp': 'elliott-brown',
  'ags': 'j-stephen-conn',
  'agu': 'luisalvaz',
  'ahb': 'mushabab-al-murayeh',
  'ajf': 'joel-salazar',
  'ajl': 'tluanga-colney2',
  'aju': 'jorge-pindorama',
  'akl': 'mario-ruckh',
  'ala': 'vmenkov',
  'alb': 'alan-levine',
  'alc': 'paul-thompson',
  'alg': 'poudou99',
  'amd': 'htrapj',
  'amm': 'rajesh-pamnani',
  'ams': 'wayne-taylor',
  'anc': 'frank-kovalchek',
  'anr': 'stijn-hosdez',
  'anu': 'lee-bryant',
  'apa': 'jeffrey-beall',
  'apw': 'dave-lonsdale',
  'aoi': 'turismo-marche',
  'aqj': 'm7madameenwik',
  'aqp': 'goss-nuzzo-jones',
  'arn': 'samuel-bietenholz',
  'asb': 'matthew-goulding',
  'ase': 'harper-reed',
  'asm': 'the-come-up-show',
  'asu': 'stefan-krasowski',
  'ath': 'dinos',
  'atl': 'jon-tan',
  'atq': 'jliptoid',
  'atw': 'sean-bagley',
  'aua': 'david-amundsen',
  'auh': 'marco-zanferrari',
  'aus': 'jon-collier',
  'avl': 'redlegsfan21',
  'avp': 'vasiliy-meshko',
  'aza': 'david-crummey',
  'azo': 'not-aaron',
  'bah': 'yosoynuts',
  'bal': 'umit-kilic',
  'baq': 'jdvillalobos',
  'bat': 'jose-luiz',
  'bcn': 'camilo-rueda-lopez',
  'bdi': 'carlos-garcia',
  'bdl': 'pixel',
  'bdo': 'ikhlasul-amal',
  'bds': 'salento81',
  'bed': 'chris-devers',
  'beg': 'paradasos',
  'bel': 'luciano-paiva',
  'ber': 'ace-wolter',
  'bey': 'chuck-holton',
  'bff': 'curtis-cronn',
  'bfi': 'king-county-wa',
  'bfs': 'nats-press-office',
  'bga': 'yonolatengo',
  'bgi': 'dick-pountain',
  'bgo': 'arne-halvorsen',
  'bgr': 'tim-rodenberg',
  'bgw': 'toyohara',
  'bgy': 'cha-gia-jose',
  'bhd': 'gwydion-m-williams',
  'bhm': 'mary',
  'bhx': 'martin-hartland',
  'bio': 'kent-wang',
  'bjc': 'm-lane',
  'bjl': 'jason-jones',
  'bjm': 'stefan-krasowski',
  'bjx': 'lucy-nieto',
  'bkf': 'mark-stevens',
  'bki': 'aeab',
  'bkk': 'roger-price',
  'bko': 'petter-lundkvist',
  'blk': 'jay-jerry',
  'blq': 'threecharlie',
  'blr': 'ramesh-ng',
  'bma': 'helen-simonsson',
  'bmi': 'kent-kanouse',
  'bmv': 'tommy-japan',
  'bna': 'shooting-chris',
  'bne': 'andrew-sutherland',
  'bnx': 'vladimir-ivanic',
  'bob': 'olivier-bruchez',
  'bod': 'martine',
  'bog': 'stephen-downes',
  'boh': 'dean-morley',
  'boi': 'mark-hillary',
  'bom': 'chris-hoare',
  'bon': 'via-tsuji',
  'bos': 'andrew-malone',
  'bpn': 'rizki-aftarianto',
  'bra': 'fotos-govba',
  'bre': 'peronimo',
  'brq': 'eugene-tarasov',
  'brs': 'andy-munzer',
  'bru': 'patrice-heylighen',
  'brw': 'mike-smail',
  'bsb': 'bruno-coutinho',
  'bsl': 'aurm',
  'btj': 'dinokl',
  'btm': 'scurfield',
  'bts': 'airliners-sk-oz',
  'btv': 'neil-hunt',
  'bud': 'hatm',
  'buf': 'julien-bowry',
  'bur': 'karol-franks',
  'but': 'richard-furlong',
  'bva': 'csaveanu',
  'bvb': 'spinndoctor',
  'bwi': 'mike-procario',
  'bwn': 'mark-meng',
  'byj': 'nato-e-3a-component',
  'bze': 'pilotgirl',
  'bzn': 'roderick-hsiao',
  'bzv': 'henri-hovi',
  'cae': 'mark-hesseltine',
  'cah': 'genghiskhanviet',
  'cai': 'courtney-collison',
  'cak': 'ken-lund',
  'can': 'matt-weibo',
  'cbg': 'neil-mcintosh',
  'cbr': 'michael-coghlan',
  'ccf': 'ad-meskens',
  'ccp': 'cesar-melgarejo',
  'ccs': 'carlos-graterol',
  'ccu': 'paul-hamilton',
  'cck': 'palawanoz',
  'ccj': 'sreejithk2000',
  'cdg': 'giacomo-carena',
  'ceb': 'cyberjos',
  'cek': 'is-elektra',
  'cfb': 'fabius-alvim',
  'cfd': 'clan-uibriain',
  'cgh': 'barbara-dieu',
  'cgk': 'donoshsugi',
  'cgn': 'mw',
  'cgr': 'arthur-zapparoli',
  'cha': 'larry-miller',
  'chc': 'sarah-rose',
  'chs': 'scpetrel',
  'cia': 'sean-macentee',
  'cid': 'carole',
  'cju': 'forester401',
  'ckb': 'nannette-turner',
  'ckg': 'byeangel',
  'cky': 'cjlvp',
  'cld': 'alan-cordova',
  'cle': 'trey-ratcliff',
  'clj': 'cluj-kolozsvar-klausenburg',
  'cll': 'torch-magazine',
  'clo': 'mario-carvajal',
  'clt': 'steve-sara-emry',
  'cmb': 'anshu',
  'cmh': 'gmanviz',
  'cmn': 'dan-diffendale',
  'cmx': 'debmomof3',
  'cnf': 'pacgov',
  'cnx': 'autan',
  'cok': 'prasad-pillai',
  'coo': 'jbdodane',
  'cor': 'pfsuarez',
  'cph': 'easysleazycheesy',
  'cpt': 'flowcomm',
  'cpv': 'david-cesarino-de-sousa',
  'crk': 'thejmp617',
  'crl': 'lanzate',
  'crp': 'travelingotter',
  'crw': 'rich',
  'ctg': 'david-shankbone',
  'cts': 'tzuhsun-hsu',
  'ctu': 'kuruman',
  'cul': 'malova-gobernador',
  'cun': 'apium',
  'cuz': 'davide',
  'cvg': 'robert-s-donovan',
  'cvu': 'antonio-manuel-dias',
  'cwb': 'infraero',
  'cwl': 'nats-press-office',
  'cxr': 'basilicofresco',
  'dab': 'micah-maziar',
  'dac': 'zaed-zaman',
  'dad': 'dragfyre',
  'dal': 'jayraz',
  'dam': 'alexander-kohlhofer',
  'dar': 'roland',
  'day': 'redlegsfan21',
  'dbq': 'azdesign2010',
  'dbv': 'hiroyuki-nakano',
  'dca': 'thisisbossi',
  'deb': 'timon91',
  'den': 'bart-heird',
  'del': 'nadir-hashmi',
  'det': 'mark-h-anbinder',
  'dil': 'david-stanley',
  'din': 'tycho',
  'dfw': 'jim-nix',
  'dkr': 'kalyan-neelamraju',
  'dla': 'khrawlings',
  'dlh': 'john-russell',
  'dme': 'luis-jou-garcia',
  'dmk': 'jon-collier',
  'dmm': 'biboyworxxx',
  'dnd': 'matthew-jackson',
  'dnk': 'gnesener1900',
  'dnr': 'franciis',
  'doh': 'takahiro-hayashi',
  'dom': 'katy-cat',
  'dps': 'sony-dwi-fajrian',
  'drw': 'ken-hodge',
  'dsa': 'victor',
  'dsm': 'wordshore',
  'dtm': 'andreas',
  'dtn': 'redtail_panther',
  'dtw': 'scott-beale',
  'dub': 'tearbringer',
  'dus': 'eole-wind',
  'dvo': 'danes96',
  'dwc': 'carter-s',
  'dxb': 'roger-price',
  'dxr': 'chris-burke',
  'dyu': 'irene2005',
  'eas': 'zaldunurdina',
  'eat': 'wendy-house',
  'ebb': 'ltc-david-konop',
  'ecp': 'nicolas-henderson',
  'edi': 'paradasos',
  'ege': 'david-benbennick',
  'ein': 'noel-hidalgo',
  'ema': 'matt-buck',
  'ens': 'stefan-schlautmann',
  'eri': 'john-mccullough',
  'eug': 'emily-pallack',
  'evn': 'p-fabian',
  'ewr': 'bartnj',
  'eyw': 's-kaiser',
  'eze': 'gilmar-mattos',
  'fae': 'arne-list',
  'fao': 'owen-rudge',
  'far': 'north-dakota-national-guard',
  'fat': 'mike-boening',
  'fca': 'theilr',
  'fco': 'maurizio-pucci',
  'fdf': 'yxelle',
  'fez': 'ruben-balderas',
  'ffa': 'adam-sacco',
  'fih': 'humprey-jl-boyelo',
  'fkb': 'tiago-miranda',
  'fkl': 'mike-baker',
  'fll': 'wally-gobetz',
  'fln': 'fernando-pangare',
  'flr': 'martin-kalfatovic',
  'flw': 'thomas-fisher',
  'fmo': 'ruedigerwoelk',
  'fna': 'denise-miller',
  'fnc': 'alexander-baxevanis',
  'fnt': 'nein09',
  'for': 'luciana-dantas',
  'fra': 'nicolas-rupcich',
  'fru': 'gleb-osokin',
  'fsc': 'patrick-nouhailler',
  'fsd': 'donna',
  'fsp': 'peg-haese-paul-dewitte',
  'fsz': 'peaceful-jp-scenery',
  'fue': 'jrgmontero',
  'fuk': 'naoko-takano',
  'fun': 'nick-hobgood',
  'fwa': 'samuraijohnny',
  'gan': 'dd',
  'gau': 'abymac',
  'gbe': 'shosholoza',
  'gci': 'chris-j',
  'gcm': 'jeff',
  'gdl': 'bill-bumgarner',
  'gdn': 'magro-kr',
  'geg': 'brendan-biele',
  'geo': 'rustinpc',
  'ggt': 'daniel-piraino',
  'gib': 'steve-slater',
  'gig': 'victor-camilo',
  'giz': 'wajahat-mahmood',
  'gjt': 'marshall-segal',
  'gla': 'paisley-scotland',
  'glu': 'andrea-williams',
  'gmp': 'seoul-korea',
  'gnd': 'bruce-potter',
  'gnv': 'douglasgreen',
  'goi': 'daniel-incandela',
  'goj': 'vladimir-varfolomeev',
  'got': 'silfa-zoidberg',
  'gov': 'stephen-michael-barnett',
  'grb': 'grbairport',
  'grk': 'wil-c-fry',
  'gro': 'lukas-lalinsky',
  'grr': 'bill-couch',
  'gru': 'fernando-stankuns',
  'grw': 'mike-and-annabel-beales',
  'grx': 'daniel-lobo',
  'gso': 'thomas-lillis-iv',
  'gsp': 'randy-nichols',
  'gtr': 'roger-smith',
  'gua': 'xiroro',
  'gva': 'julien-belli',
  'gyd': 'geshmally',
  'gye': 'celina-ortelli',
  'gyn': 'infraero-aeroportos',
  'gza': 'gisha-access',
  'hah': 'sarah-elsewhere',
  'haj': 'jan-christoph-behre',
  'ham': 'medvedev',
  'han': 'simon-morris',
  'haq': 'andreas-faessler',
  'hav': 'travel-aficionado',
  'hel': 'sergey-nazarov',
  'hga': 'yotut',
  'hgh': 'eager',
  'hhn': 'n',
  'hir': 'kahunapule-michael-johnson',
  'hkd': 'hideyuki-kamon',
  'hkg': 'chris',
  'hkt': 'andy-mitchell',
  'hlp': 'andri-priyo-utomo',
  'hmo': 'octavio-ruiz-cervera',
  'hnm': 'forest-kim-starr',
  'hnd': 'hideyuki-kamon',
  'hnl': 'brian-burger',
  'hof': 'buen-viajero',
  'hog': 'jeff',
  'hor': 'wo-st-01',
  'hot': 'sporst',
  'hou': 'ryan-basilio',
  'hov': 'egil-arne',
  'hph': 'david-mckelvey',
  'hpn': 'terretta',
  'hqm': 'steve-voght',
  'hre': 'annette-lyn-oneil',
  'hri': 'anuradha-dullewe-wijeyeratne',
  'hsv': 'richard-bitting',
  'huf': 'barbara-ann-spengler',
  'hya': 'nick-sherman',
  'hyd': 'vijaynov',
  'iad': 'the-q-speaks',
  'iah': 'josh-hallett',
  'ibz': 'juntosworldwide',
  'icn': 'marcella-bona',
  'ict': 'michael-sauers',
  'ida': 'dean-shareski',
  'idr': 'srinivasan-rajappa',
  'iev': 'igor-bubin',
  'ifp': 'laughlin-bullhead-fire',
  'igu': 'yusuke-kawasaki',
  'ika': 'mamooli',
  'ild': 'jordi-escuer',
  'ind': 'don-j-schulte',
  'inu': 'dfat-australia',
  'inv': 'dis-motion-pictures',
  'iom': 'calflier001',
  'ipc': 'uncommon-fritillary',
  'ipn': 'hvl',
  'iqt': 'cameranaturalist',
  'isb': 'muzaffar-bukhari',
  'isp': 'mr-tindc',
  'ist': 'jaime-silva',
  'itm': 'joe-jones',
  'ito': 'frances',
  'iwa': 'ramon',
  'ixa': 'pp-yoonus',
  'ixb': 'abymac',
  'ixc': 'aries-liang',
  'ixm': 'sarthephotographer',
  'ixz': 'jpatokal-2',
  'jac': 'sarah-nichols',
  'jai': 'sranjanm2002',
  'jax': 'joe-shlabotnik',
  'jed': 'ifc-infrastructure',
  'jer': 'dan-marsh',
  'jfk': 'timothy-vogel',
  'jhm': 'forest-kim-starr',
  'jib': 'ryan-kilpatrick',
  'jnb': 'len-edgerly',
  'jog': 'debbs',
  'joi': 'matheus-wahl',
  'jpa': 'owen-rudge',
  'jsi': 'aeroicarus',
  'jub': 'united-to-end-genocide',
  'kan': 'david-holt',
  'kbl': 'k-t',
  'kbp': 'marco-fieber',
  'kbr': 'snowidun',
  'kef': 'o-palsson',
  'kgl': 'the-commonwealth',
  'khh': 'eton-kwok',
  'khi': 'andrew-wiseman',
  'kia': 'jonathan-gill',
  'kin': 'wayne-marshall',
  'kiv': 'chef-shigeki',
  'kix': 'andi-halim',
  'kmg': 'buster-and-bubby',
  'kno': 'picturepest',
  'koa': 'thomas-tunsch',
  'kov': 'nasa-hq-photo',
  'krk': 'alquiler-de-coches',
  'krn': 'thecameragirls',
  'krr': 'obakeneko',
  'krs': 'siri-johannessen',
  'krt': 'usamah-mohammed',
  'ksa': 'mike-lamonaca',
  'ktm': 'jay-galvin',
  'ktt': 'chiva-congelado',
  'kul': 'j',
  'kwe': 'shoshot',
  'kwi': 'faris',
  'kzn': 'moukhametovr',
  'lad': 'l-willms',
  'laf': 'suzi-walker',
  'lan': 'aaron-headly',
  'las': 'kevin-reese',
  'lax': 'thomas-hawk',
  'lba': 'dave-rutt',
  'lbb': 'marco-antonio-torres',
  'lbf': 'ron-fleisher',
  'lbu': 'cephoto',
  'lbv': 'aero-icarus',
  'lca': 'christopher-rose',
  'lcg': 'caneles',
  'lck': 'apocaknits',
  'lcy': 'jonathan-e-shaw',
  'led': 'dmitriy-korzhev',
  'lei': 'gerard-romans-camps',
  'lej': 'gynti-46',
  'len': 'javier-diaz-barrera',
  'leu': 'javier-ortega-figueiral',
  'lex': 'blue-grass-airport',
  'lft': 'travelingotter',
  'lfw': 'mark-fischer',
  'lga': 'stantontcady',
  'lgg': 'albert-massar',
  'lgk': 'jack',
  'lgw': 'antoine-camelin',
  'lhe': 'jibran-bin-dawood',
  'lhr': 'twinkabaute',
  'lih': 'brian-snelson',
  'lim': 'vasenkaphotography',
  'lin': 'stefano-f',
  'lir': 'kansas-sebastian',
  'lis': 'hom26',
  'lit': 'johnathan-jianu',
  'lju': 'lars-plougmann',
  'lko': 'ahmedfaizy',
  'llw': 'travelingotter',
  'lmn': 'bernard-dupont',
  'lnk': 'andyring',
  'los': 'afromusing',
  'lpa': 'cesar',
  'lpb': 'carloshernandez',
  'lpl': 'calflier001',
  'lpq': 'uvmann',
  'lrd': 'georgia-national-guard',
  'ltn': 'david-precious',
  'luk': 'billy-v',
  'lun': 'andresmh',
  'lux': 'jeff-c',
  'lvi': 'stuart001uk',
  'lwb': 'jimmy-emerson-dvm',
  'lwo': 'patrickmcd',
  'lyr': 'alvaroprieto',
  'lys': 'mll',
  'maa': 'sitik-das',
  'mad': 'anh-dinh',
  'maf': 'loadedaaron',
  'mah': 'craig-sunter',
  'maj': 'dfat-australia',
  'man': 'gary-mcnair',
  'mao': 'infraero-aeroportos',
  'mbj': 'dave-malkoff',
  'mbs': 'doc-searls',
  'mci': 'zhao-shouren',
  'mco': 'benjamin-thompson',
  'mct': 'prasad-pillai',
  'mcz': 'aristeo-arruda',
  'mdc': 'theo-trieste',
  'mde': 'sebastian-restrepo-calle',
  'mdl': 'calflier001',
  'mdt': 'timothy-rezendes',
  'mdw': 'jackie-popp',
  'med': 'presidencia-rd',
  'mel': 'christopher',
  'mem': 'joseph',
  'mex': 'george-oates',
  'mfd': 'ohwiki',
  'mga': 'jegg',
  'mgl': 'wwwuppertal',
  'mgm': 'rivers-a-langley',
  'mht': 'elizabeth-krumbach-joseph',
  'mia': 'lotus-carroll',
  'mjv': 'phillip-capper',
  'mke': 'jasonic',
  'mkg': 'nenyedi',
  'mla': 'a-currell',
  'mlb': 'michael-seeley',
  'mle': 'ibrahim-asad',
  'mlh': 'aurm',
  'mli': 'farragutful',
  'mln': 'joaquin-i',
  'mlu': 'charles',
  'mme': 'aebrookes',
  'mmx': 'hakan-dahlstrom',
  'mnl': 'philipp-manila-sonderegger',
  'moo': 'mertie',
  'mpm': 'lusciousblopster',
  'mqc': 'yu210148',
  'mql': 'longhair',
  'mrs': 'rupert-ganzer',
  'mru': 'cypherone',
  'mry': 'adam-burke',
  'msn': 'diego-laconelli',
  'mso': 'alaskaair',
  'msp': 'tom-kelly',
  'msq': 'laurence-vagner',
  'mst': 'rpvdk',
  'msu': 'world-bank',
  'msy': '3dom',
  'mtj': 'charles-anderson',
  'mts': 'diriye-amey',
  'muc': 'gache-wurzn',
  'mux': 'adeel-anwer',
  'mvd': 'andres-de-leon',
  'mvy': 'tracy-lee-carroll',
  'mxe': 'caleb-howell',
  'mxp': 'jorge-diaz',
  'myr': 'pollyalida',
  'myt': 'davy-demaline',
  'nag': 'nikkul',
  'nan': 'rawfiji',
  'nap': 'janos-korom-dr',
  'nat': 'pacgov',
  'nbo': 'nairobi123',
  'nce': 'm-louis',
  'ncl': 'newcastle-airport',
  'ndj': 'ken-doerr',
  'ndl': 'us-department-of-defense',
  'ngo': 'gryffindor',
  'nim': 'arm-climate-research-facility',
  'nkc': 'carlos-reis',
  'nqy': 'christian-lee',
  'nrn': 'sergey-melkonov',
  'nrt': 'ryan-healy',
  'nte': 'olivier-cabaret',
  'nue': 'mark',
  'nwi': 'elliott-brown',
  'nyo': 'tales-of-a-wanderer',
  'oak': 'sonny-abesamis',
  'ods': 'aps',
  'ogg': 'jonathan-caves',
  'ohd': 'm-a-s-c',
  'oka': 'hideyuki-kamon',
  'okc': 'wesley-fryer',
  'oma': 'jimmy-emerson-dvm',
  'ome': 't-dawg',
  'omo': 'xiquinhosilva',
  'ont': 'rich',
  'ool': 'monkeyc-net',
  'opo': 'alda-silva',
  'orb': 'magnus',
  'ord': 'nick-harris',
  'orf': 'stacey-huggins',
  'orh': 'terageorge',
  'ork': 'emanuela-zibordi',
  'ory': 'grid',
  'osl': 'jaime-silva',
  'ost': 'calflier001',
  'otp': 'cristian-bortes',
  'oua': 'sewa',
  'oul': 'sami-oinonen',
  'ovb': 'obakeneko',
  'ovd': 'savh',
  'oxb': 'kaysha',
  'pap': 'antonio-zugaldia',
  'pbg': 'joshparent',
  'pbh': 'goran-hoglund-kartlasarn',
  'pbi': 'd-ramey-logan',
  'pdl': 'aero-icarus',
  'pbm': 'ian-mackenzie',
  'pdx': 'kerry-l',
  'pee': 'kirill-afonin',
  'pek': 'matt-weibo',
  'pen': 'john-ong',
  'per': 'david-king',
  'pfo': 'karen-bryan',
  'phc': 'sabrinadan-photo',
  'phf': 'phf-airport',
  'phl': 'uchiuska',
  'phx': 'liebe5',
  'pie': 'd-yodock',
  'pik': 'the-shaun-woods',
  'pit': 'john-marino',
  'pix': 'ruben-jc-furtado',
  'plu': 'ricky-montalvo',
  'pmi': 'vosta',
  'pmw': 'reporter-do-futuro',
  'pna': 'juergen-lehle',
  'pnh': 'jannah-brown',
  'pnk': 'wakx',
  'pnq': 'randy-breese',
  'pns': 'chapstickaddict',
  'pnz': 'marcio-cabral-de-moura',
  'poa': 'nicolas',
  'pom': 'kahunapule-michael-johnson',
  'poo': 'alexandre-kuma',
  'pos': 'debangsu4',
  'ppg': 'usairforce',
  'ppt': 'michael-stout',
  'pqc': 'annette-bouvain',
  'prn': 'driton-avdyli',
  'prg': 'jill',
  'psa': 'ozz13x',
  'psc': 'mattmcgee',
  'pse': 'mtmelendez',
  'psp': 'randy-heinitz',
  'ptk': 'robinscurr',
  'ptp': 'martin-bartosch',
  'pty': 'carlos-alberto-gonzalez-palomino',
  'puf': 'le-kizz',
  'puq': 'fernando-jose-ignacio-garate-parra',
  'pvd': 'marc-choquette',
  'pvg': 'greenarcher04',
  'pwm': 'jimmy-emerson-dvm',
  'pxo': 'marco-assini',
  'pxu': 'le-sai',
  'pzo': 'gabriel-s-delgado-c',
  'qro': 'deni-fotografia',
  'rai': 'xandu',
  'rak': 'thomas-leuthard',
  'rba': 'frenchinmorocco',
  'rbd': 'la-citta-vita',
  'rdd': 'sergio-ruiz',
  'rdu': 'suzie-tremmel',
  'rec': 'thorsten-wockener',
  'rep': 'zack-lee',
  'rfd': 'jake-mackenzie',
  'rgi': 'pablo-marx',
  'rgn': 'eugene-phoen',
  'ric': 'ronnie-pitman',
  'riw': 'recoilrick',
  'rjl': 'juanje-2712',
  'rix': 'dainis-matisons',
  'rms': 'david-d-underwood',
  'rno': 'ken-lund',
  'rns': 'strot',
  'roa': 'aaron-knox',
  'roc': 'john-w-schulze',
  'ror': 'abasaa',
  'ros': 'facu-fernandez',
  'rov': 'serge-bystro',
  'row': 'jeremy-noble',
  'rpr': 'ambuj-kulshresth-2',
  'rrg': 'giorgio-minguzzi',
  'rst': 'flyrst',
  'rsw': 'b',
  'rtm': 'olbrug',
  'ruh': 'christopher-rose',
  'run': 'patrick-donovan',
  'ryg': 'johanroed',
  'rze': 'rzeszow-jasionka',
  'saf': 'david-basanta',
  'sah': 'anasalhajj-photography',
  'sal': 'jose-wolff',
  'san': 'nathan-rupert',
  'sat': 'san-antonio-airport-system',
  'sav': 'nicolas-nova',
  'saw': 'marcella',
  'sba': 'adam-fagen',
  'sbn': 'jo-and-joey',
  'sce': 'penn-state',
  'scl': 'lane-becker',
  'scq': 'philips-indal-lighting',
  'sct': 'gerry-and-bonni',
  'sdf': 'lisa-padilla',
  'sdq': 'karen',
  'sdr': 'sandra-m-pereira-pena',
  'sdu': 'veroyama',
  'sea': 'drburtoni',
  'sen': 'calflier001',
  'sex': 'bill-thompson',
  'sfa': 'm-rais',
  'sfj': 'miss-copenhagen',
  'sfn': 'emiliano',
  'sfo': 'richard-winchell',
  'sgc': 'sergey',
  'sgn': 'robertus-b-herdiyanto',
  'sgy': 'cruisair'
  'sha': 'veoloo',
  'shd': 'bobistraveling',
  'shv': 'ken-lund',
  'sid': 'us-dept-of-state',
  'sin': 'balaji-dutt-mv',
  'sjc': 'corey-seeman',
  'sjj': 'keno-photography',
  'sjk': 'fontela01',
  'sjo': 'eric-t-gunther',
  'sju': 'davsot',
  'sjz': 'aitor-salaberria',
  'skb': 'anthony-defreitas',
  'skg': 'tilemahos-efthimiadis',
  'skp': 'hristina-dojcinova',
  'slc': 'andrew-herington',
  'slm': 'rafaalvarez',
  'sln': 'anyjazz65',
  'slu': 'peter-snelling',
  'slz': 'ana-elisa-ribeiro',
  'sma': 'greg-and-cindy',
  'smf': 'rich',
  'sna': 'peter-talke',
  'snn': 'wolf32at',
  'soc': 'wikisanktgerard',
  'sof': 'emilstefanov',
  'sou': 'stuart-bryant',
  'spg': 'cityofstpete',
  'spu': 'ballota',
  'sql': 'nelsonminar',
  'srg': 'curtis-ferrell',
  'srq': 'donovan',
  'ssa': 'infraero-aeroportos',
  'ssf': 'san-antonio-airport-system',
  'ssg': 'jorge-alvaro-manzano',
  'sti': 'lacreta',
  'stl': 'rich',
  'stn': 'john-lord',
  'stp': 'tony-webster',
  'str': 'dieter-weinelt'
  'sts': 'prayitno',
  'stt': 'akshat-aranya',
  'stx': 'lars-schmidt',
  'sub': '123_456',
  'sun': 'dieseldemon',
  'suv': 'dan-mckay',
  'sux': 'david-mulder',
  'svd': 'ian-mackenzie',
  'svg': 'karlrpet',
  'svo': 'jaime-silva',
  'svq': 'luis-jou-garcia',
  'svx': 'falschivomonetchick',
  'swf': 'eric-salard',
  'sxb': 'gogo6969',
  'sxf': 'aero-icarus',
  'sxm': 'aero-icarus',
  'syd': 'bobby-das',
  'syr': 'new-york-national-guard',
  'szb': 'suncon-photos',
  'szg': 'flightlog',
  'tab': 'kenny-mitchell',
  'tao': 'byeangel',
  'tas': 'ramon',
  'tbb': 'phil-tomlinson',
  'tbs': 'james-emery',
  'ter': 'luis-silveira',
  'tfn': 'lionicex',
  'tfs': 'marinocarlos',
  'tgd': 'estorde',
  'tgm': 'kulja',
  'tgu': 'enrique',
  'thr': 'frode-bjorshol',
  'tia': 'george-redgrave',
  'tif': 'zaffaralam',
  'tij': 'cesar-lozano',
  'tip': 'mvongrue',
  'tjm': 'aero-icarus',
  'tll': 'ton-zijlstra',
  'tls': 'ekhinos',
  'tlv': 'hjl',
  'tms': 'chuck-moravec',
  'tng': 'calflier001',
  'tnm': 'noaa-photo-library',
  'tnr': 'jerry-oldenettel',
  'tnt': 'larry-johnson',
  'tol': 'micah-maziar',
  'tpa': 'robert-s-donovan',
  'tpe': 'ali-reza-zamil',
  'trf': 'carlos-bryant',
  'tri': 'joevare',
  'trn': 'paolo-cerutti',
  'trv': 'aleksandr-zykov',
  'trw': 'luigi-guarino',
  'tse': 'alex-j-butler',
  'ttn': 'ken-lund',
  'tul': 'rex-brown',
  'tun': 'habib-mhenni',
  'tus': 'seen-not-heard',
  'txl': 'mika-stetsovski',
  'tys': 'tasha-lutek',
  'tzl': 'elisabeth',
  'ufa': 'vhorvat',
  'uih': 'genhiskhan',
  'uio': 'aero-icarus',
  'uln': 'david-berkowitz',
  'upg': 'midori',
  'ush': 'david-stanley',
  'usm': 'sebastien-levaillant',
  'uth': 'top-koaysomboon',
  'uud': 'sergey-vladimirov',
  'uus': 'maarten',
  'uvf': 'frenchkheldar',
  'vam': 'dd',
  'vav': 'fearlessrich',
  'vca': 'genghiskhan',
  'vce': 'nekotank',
  'vcl': 'nhocquay',
  'vcp': 'eduardo-otubo',
  'vcs': 'shansov',
  'vde': 'pepelopex',
  'vdh': 'toanvungtau',
  'vgo': 'contando-estrelas',
  'vgt': 'friscocali',
  'vie': 'rosmary',
  'vii': 'chien-chung-chen',
  'vix': 'infraero-aeroportos',
  'vkg': 'kyle-taylor',
  'vko': 'peter-pz',
  'vlc': 'robyn-lee',
  'vli': 'phillip-capper',
  'vll': 'zyllan-fotografia',
  'vln': 'ana-milena-ospina',
  'vno': 'david-holt',
  'vns': 'kevin-tsai',
  'vog': 'yuriy-lapitskiy',
  'vps': 'flyvps',
  'vte': 'top-koaysomboon',
  'waw': 'robert-s-donovan',
  'wdh': 'potjie',
  'wlg': 'kathrin-stefan-marks',
  'wmi': 'maciek-lulko',
  'wro': 'krzewi',
  'xch': 'rebecca-dominguez',
  'xiy': 'acidbomber',
  'xmn': 'jerry-luo',
  'xna': 'james-foreman',
  'xnn': 'johnlaudun',
  'xry': 'pedro-de-matos',
  'yaz': 'adina-raul',
  'ydt': 'gord-mckenna',
  'yeg': 'mack-male',
  'ygo': 'lee-prouten',
  'yhk': 'alan-sim',
  'yhz': 'chris-campbell',
  'yip': 'ellenm1',
  'yjs': 'sirpeddle',
  'ylt': 'jasonbelliveau',
  'ylw': 'adam-jones',
  'ymm': 'gord-mckenna',
  'ymx': 'doug',
  'ynb': 'bcow',
  'yng': 'charles-tilford',
  'yon': 'kartografia',
  'yow': 'doug-zwick',
  'yqb': 'eric-begin',
  'yqr': 'blake-handley',
  'yqt': 'p199',
  'yqx': 'fuzzy-gerdes',
  'yqy': 'cyqy',
  'ytz': 'fanagt',
  'yul': 'hussein-abdallah',
  'yvr': 'rick-schwartz',
  'ywg': 'aj-batac',
  'yxe': 'damien-gabrielson',
  'yxh': 'crhiles',
  'yxu': 'paranomia',
  'yxx': 'bc-ministry-of-transportation',
  'yxy': 'canadian2006',
  'yyc': 'jordon-cooper',
  'yyd': 'asagan',
  'yyj': 'andy-nystrom',
  'yyt': 'patrick-handrigan',
  'yyz': 'coralie-mercier',
  'yzf': 'hideyuki-kamon',
  'zag': 'andrew-nash',
  'zaz': 'javier-ortega-figueiral',
  'zih': 'vmzp85',
  'zlo': 'tatehuari',
  'zqn': 'kielix',
  'zrh': 'reto-fetz',
}
