// Paths to images
$card = 'images/card'
$small = 'images/small'
$medium = 'images/medium'
$large = 'images/large'

// Image file extension
$image-ext = 'jpg'

// Filenames
$images = {
  'aal': '',
  'aar': '',
  'aba': '',
  'abc': '',
  'abe': '',
  'abi': '',
  'abj': '',
  'abq': '',
  'abv': '',
  'abz': '',
  'aca': '',
  'acc': '',
  'ace': '',
  'ack': '',
  'acy': '',
  'ada': '',
  'add': '',
  'adl': '',
  'aep': '',
  'aer': '',
  'aes': '',
  'aex': '',
  'aey': '',
  'afw': '',
  'aga': '',
  'agb': '',
  'agc': '',
  'agp': '',
  'ags': '',
  'agu': '',
  'ahb': '',
  'aja': '',
  'ajf': '',
  'ajl': '',
  'aju': '',
  'akc': '',
  'akl': '',
  'akt': '',
  'akx': '',
  'ala': '',
  'alb': '',
  'alc': '',
  'alg': '',
  'als': '',
  'ama': '',
  'amd': '',
  'amm': '',
  'amq': '',
  'ams': '',
  'anc': '',
  'ang': '',
  'anr': '',
  'ans': '',
  'anu': '',
  'apa': '',
  'apw': '',
  'aoi': '',
  'aqj': '',
  'aqp': '',
  'arn': '',
  'art': '',
  'asb': '',
  'ase': '',
  'asm': '',
  'asu': '',
  'ata': '',
  'ath': '',
  'atl': '',
  'atq': '',
  'atw': '',
  'aua': '',
  'auh': '',
  'aus': '',
  'avl': '',
  'avp': '',
  'awz': '',
  'ayp': '',
  'ayt': '',
  'aza': '',
  'azo': '',
  'bah': '',
  'bal': '',
  'baq': '',
  'bat': '',
  'bcb': '',
  'bcd': '',
  'bcn': '',
  'bda': '',
  'bdi': '',
  'bdl': '',
  'bdo': '',
  'bds': '',
  'beb': '',
  'bed': '',
  'beg': '',
  'bel': '',
  'ber': '',
  'bes': '',
  'bey': '',
  'bff': '',
  'bfi': '',
  'bfl': '',
  'bfs': '',
  'bga': '',
  'bgi': '',
  'bgo': '',
  'bgr': '',
  'bgw': '',
  'bgy': '',
  'bhd': '',
  'bhm': '',
  'bho': '',
  'bhx': '',
  'bik': '',
  'bil': '',
  'bio': '',
  'bjc': '',
  'bjl': '',
  'bjm': '',
  'bjx': '',
  'bkf': '',
  'bki': '',
  'bkk': '',
  'bkl': '',
  'bko': '',
  'bli': '',
  'blk': '',
  'bll': '',
  'blq': '',
  'blr': '',
  'bma': '',
  'bmi': '',
  'bmv': '',
  'bna': '',
  'bnd': '',
  'bne': '',
  'bnx': '',
  'bob': '',
  'bod': '',
  'bog': '',
  'boh': '',
  'boi': '',
  'bom': '',
  'bon': '',
  'bos': '',
  'bpn': '',
  'bpt': '',
  'bqh': '',
  'bra': '',
  'brc': '',
  'bre': '',
  'bri': '',
  'bro': '',
  'brq': '',
  'brr': '',
  'brs': '',
  'bru': '',
  'brw': '',
  'bsb': '',
  'bsl': '',
  'btj': '',
  'btm': '',
  'btr': '',
  'bts': '',
  'btv': '',
  'bud': '',
  'buf': '',
  'bur': '',
  'but': '',
  'bva': '',
  'bvb': '',
  'bvc': '',
  'bwi': '',
  'bwn': '',
  'bwe': '',
  'byj': '',
  'bze': '',
  'bzn': '',
  'bzv': '',
  'cae': '',
  'cag': '',
  'cah': '',
  'cai': '',
  'cak': '',
  'can': '',
  'cbb': '',
  'cbg': '',
  'cbr': '',
  'ccf': '',
  'ccp': '',
  'ccs': '',
  'ccu': '',
  'cck': '',
  'ccj': '',
  'cdc': '',
  'cdg': '',
  'ceb': '',
  'cek': '',
  'cfb': '',
  'cfd': '',
  'cgh': '',
  'cgk': '',
  'cgn': '',
  'cgo': '',
  'cgp': '',
  'cgr': '',
  'cha': '',
  'chc': '',
  'chm': '',
  'cho': '',
  'chr': '',
  'chs': '',
  'cia': '',
  'cid': '',
  'cit': '',
  'ciu': '',
  'cix': '',
  'cja': '',
  'cju': '',
  'ckb': '',
  'ckg': '',
  'cky': '',
  'cld': '',
  'cle': '',
  'clj': '',
  'cll': '',
  'clo': '',
  'clt': '',
  'cmb': '',
  'cmh': '',
  'cmi': '',
  'cmn': '',
  'cmx': '',
  'cnf': '',
  'cng': '',
  'cnn': '',
  'cns': '',
  'cnx': '',
  'cok': '',
  'coo': '',
  'cor': '',
  'cos': '',
  'cph': '',
  'cpr': '',
  'cpt': '',
  'cpv': '',
  'cqm': '',
  'crk': '',
  'crl': '',
  'crp': '',
  'crw': '',
  'cta': '',
  'ctg': '',
  'cts': '',
  'ctu': '',
  'cul': '',
  'cun': '',
  'cur': '',
  'cuz': '',
  'cvf': '',
  'cvg': '',
  'cvu': '',
  'cwb': '',
  'cwl': '',
  'cxr': '',
  'czm': '',
  'czs': '',
  'dab': '',
  'dac': '',
  'dad': '',
  'dal': '',
  'dam': '',
  'dar': '',
  'day': '',
  'dbq': '',
  'dbv': '',
  'dca': '',
  'deb': '',
  'ded': '',
  'den': '',
  'del': '',
  'det': '',
  'dil': '',
  'din': '',
  'dfw': '',
  'dkr': '',
  'dla': '',
  'dlc': '',
  'dlh': '',
  'dli': '',
  'dlm': '',
  'dme': '',
  'dmk': '',
  'dmm': '',
  'dnd': '',
  'dnk': '',
  'dnr': '',
  'doh': '',
  'dom': '',
  'dps': '',
  'dro': '',
  'drs': '',
  'drw': '',
  'dsa': '',
  'dsi': '',
  'dsm': '',
  'dss': '',
  'dtm': '',
  'dtn': '',
  'dtw': '',
  'dub': '',
  'dud': '',
  'dus': '',
  'dvo': '',
  'dwc': '',
  'dxb': '',
  'dxr': '',
  'dyu': '',
  'dza': '',
  'eas': '',
  'eat': '',
  'ebb': '',
  'ebl': '',
  'ecp': '',
  'edi': '',
  'egc': '',
  'ege': '',
  'ein': '',
  'elp': '',
  'ema': '',
  'ens': '',
  'enu': '',
  'eoh': '',
  'eri': '',
  'esb': '',
  'eug': '',
  'eux': '',
  'eve': '',
  'evn': '',
  'ewr': '',
  'ext': '',
  'eyw': '',
  'eze': '',
  'fae': '',
  'fao': '',
  'far': '',
  'fat': '',
  'fca': '',
  'fco': '',
  'fdf': '',
  'fdh': '',
  'fez': '',
  'ffa': '',
  'fie': '',
  'fih': '',
  'fkb': '',
  'fkl': '',
  'flg': '',
  'fll': '',
  'fln': '',
  'flr': '',
  'flw': '',
  'fmm': '',
  'fmo': '',
  'fna': '',
  'fnc': '',
  'fnj': '',
  'fnt': '',
  'fod': '',
  'for': '',
  'fpo': '',
  'fra': '',
  'frs': '',
  'fru': '',
  'fsc': '',
  'fsd': '',
  'fsp': '',
  'fsz': '',
  'fue': '',
  'fuk': '',
  'fun': '',
  'fwa': '',
  'gai': '',
  'gan': '',
  'gau': '',
  'gbe': '',
  'gci': '',
  'gcw': '',
  'gcm': '',
  'gdl': '',
  'gdn': '',
  'gdr': '',
  'geg': '',
  'geo': '',
  'ggg': '',
  'ggt': '',
  'gib': '',
  'gig': '',
  'giz': '',
  'gjt': '',
  'gla': '',
  'glo': '',
  'glu': '',
  'gmp': '',
  'gmu': '',
  'gmz': '',
  'gnd': '',
  'gnv': '',
  'goa': '',
  'goi': '',
  'goj': '',
  'got': '',
  'goq': '',
  'gov': '',
  'gps': '',
  'gpt': '',
  'grb': '',
  'grk': '',
  'gro': '',
  'grr': '',
  'gru': '',
  'grw': '',
  'grx': '',
  'grz': '',
  'gso': '',
  'gsp': '',
  'gst': '',
  'gtr': '',
  'gua': '',
  'guc': '',
  'gum': '',
  'gur': '',
  'guw': '',
  'gva': '',
  'gyd': '',
  'gye': '',
  'gyn': '',
  'gza': '',
  'hah': '',
  'haj': '',
  'hak': '',
  'ham': '',
  'han': '',
  'haq': '',
  'hav': '',
  'hba': '',
  'hdy': '',
  'hel': '',
  'her': '',
  'hft': '',
  'hga': '',
  'hgl': '',
  'hgh': '',
  'hhh': '',
  'hhn': '',
  'hir': '',
  'hkd': '',
  'hkg': '',
  'hkt': '',
  'hlp': '',
  'hmo': '',
  'hnm': '',
  'hnd': '',
  'hnl': '',
  'hob': '',
  'hof': '',
  'hog': '',
  'hor': '',
  'hot': '',
  'hou': '',
  'hov': '',
  'hph': '',
  'hpn': '',
  'hqm': '',
  'hrb': '',
  'hre': '',
  'hrg': '',
  'hri': '',
  'hrl': '',
  'hsv': '',
  'huf': '',
  'huh': '',
  'hui': '',
  'huy': '',
  'huu': '',
  'hya': '',
  'hyd': '',
  'hzg': '',
  'iad': '',
  'iah': '',
  'ias': '',
  'ibz': '',
  'icn': '',
  'ict': '',
  'ida': '',
  'idr': '',
  'iev': '',
  'ifp': '',
  'igy': '',
  'igu': '',
  'ika': '',
  'ikt': '',
  'ild': '',
  'ilg': '',
  'ind': '',
  'inn': '',
  'inu': '',
  'inv': '',
  'iom': '',
  'ipc': '',
  'iph': '',
  'ipn': '',
  'iqq': '',
  'iqt': '',
  'isb': '',
  'isc': '',
  'isp': '',
  'isl': '',
  'ist': '',
  'itm': '',
  'ito': '',
  'itp': '',
  'iwa': '',
  'ixa': '',
  'ixb': '',
  'ixc': '',
  'ixm': '',
  'ixz': '',
  'jac': '',
  'jai': '',
  'jan': '',
  'jau': '',
  'jav': '',
  'jax': '',
  'jdf': '',
  'jed': '',
  'jer': '',
  'jfk': '',
  'jhm': '',
  'jib': '',
  'jjg': '',
  'jjn': '',
  'jkh': '',
  'jnb': '',
  'jog': '',
  'joi': '',
  'jpa': '',
  'jro': '',
  'jsi': '',
  'jub': '',
  'jul': '',
  'kan': '',
  'kbl': '',
  'kbp': '',
  'kbr': '',
  'kbv': '',
  'kch': '',
  'kef': '',
  'ker': '',
  'kgl': '',
  'khh': '',
  'khi': '',
  'kih': '',
  'kin': '',
  'kiv': '',
  'kix': '',
  'klo': '',
  'klu': '',
  'kmg': '',
  'kno': '',
  'koa': '',
  'koe': '',
  'kov': '',
  'krk': '',
  'krn': '',
  'krr': '',
  'krs': '',
  'krt': '',
  'ksa': '',
  'ksc': '',
  'ksh': '',
  'ksn': '',
  'ktm': '',
  'ktt': '',
  'ktw': '',
  'kua': '',
  'kuh': '',
  'kul': '',
  'kun': '',
  'kuo': '',
  'kwe': '',
  'kwi': '',
  'kzn': '',
  'kzo': '',
  'lad': '',
  'laf': '',
  'lan': '',
  'las': '',
  'lax': '',
  'lba': '',
  'lbb': '',
  'lbc': '',
  'lbf': '',
  'lbj': '',
  'lbu': '',
  'lbv': '',
  'lca': '',
  'lcg': '',
  'lck': '',
  'lcy': '',
  'ldy': '',
  'led': '',
  'lei': '',
  'lej': '',
  'len': '',
  'leu': '',
  'lex': '',
  'lft': '',
  'lfw': '',
  'lga': '',
  'lgb': '',
  'lgg': '',
  'lgk': '',
  'lgw': '',
  'lhe': '',
  'lhr': '',
  'lih': '',
  'lil': '',
  'lim': '',
  'lin': '',
  'lir': '',
  'lis': '',
  'lit': '',
  'lju': '',
  'lko': '',
  'llw': '',
  'lmn': '',
  'lmt': '',
  'lnk': '',
  'lnz': '',
  'lop': '',
  'los': '',
  'lpa': '',
  'lpb': '',
  'lpl': '',
  'lpq': '',
  'lrd': '',
  'lrh': '',
  'lse': '',
  'ltn': '',
  'luk': '',
  'lun': '',
  'lux': '',
  'lvi': '',
  'lwb': '',
  'lwo': '',
  'lxr': '',
  'lyr': '',
  'lys': '',
  'maa': '',
  'mad': '',
  'maf': '',
  'mah': '',
  'maj': '',
  'man': '',
  'mao': '',
  'mba': '',
  'mbj': '',
  'mbs': '',
  'mce': '',
  'mci': '',
  'mco': '',
  'mcp': '',
  'mct': '',
  'mcw': '',
  'mcz': '',
  'mdc': '',
  'mde': '',
  'mdl': '',
  'mdq': '',
  'mdt': '',
  'mdw': '',
  'mdz': '',
  'med': '',
  'mel': '',
  'mem': '',
  'mex': '',
  'mfd': '',
  'mga': '',
  'mgl': '',
  'mgm': '',
  'mhd': '',
  'mht': '',
  'mia': '',
  'mjv': '',
  'mkc': '',
  'mke': '',
  'mkg': '',
  'mla': '',
  'mlb': '',
  'mle': '',
  'mlh': '',
  'mli': '',
  'mln': '',
  'mlu': '',
  'mme': '',
  'mmh': '',
  'mmk': '',
  'mmx': '',
  'mnl': '',
  'mob': '',
  'moo': '',
  'mpm': '',
  'mqc': '',
  'mql': '',
  'mrs': '',
  'mru': '',
  'mry': '',
  'msn': '',
  'mso': '',
  'msp': '',
  'msq': '',
  'mst': '',
  'msu': '',
  'msy': '',
  'mtj': '',
  'mts': '',
  'mty': '',
  'mub': '',
  'muc': '',
  'mux': '',
  'mvd': '',
  'mvy': '',
  'mxe': '',
  'mxp': '',
  'myf': '',
  'myr': '',
  'myt': '',
  'mzl': '',
  'nag': '',
  'nan': '',
  'nap': '',
  'nas': '',
  'nat': '',
  'nbo': '',
  'nce': '',
  'ncl': '',
  'ndj': '',
  'ndl': '',
  'ndr': '',
  'ner': '',
  'ngb': '',
  'ngo': '',
  'ngs': '',
  'nic': '',
  'nim': '',
  'nkc': '',
  'nkg': '',
  'nla': '',
  'nlk': '',
  'nng': '',
  'nos': '',
  'nqy': '',
  'nrn': '',
  'nrt': '',
  'nsk': '',
  'nsn': '',
  'nte': '',
  'ntl': '',
  'nue': '',
  'nwi': '',
  'nyo': '',
  'nzc': '',
  'oak': '',
  'obn': '',
  'ods': '',
  'ogg': '',
  'ogs': '',
  'ohd': '',
  'oka': '',
  'okc': '',
  'oma': '',
  'ome': '',
  'omo': '',
  'oms': '',
  'ont': '',
  'ool': '',
  'opo': '',
  'orb': '',
  'ord': '',
  'orf': '',
  'orh': '',
  'ork': '',
  'ory': '',
  'osl': '',
  'ost': '',
  'osu': '',
  'otp': '',
  'otz': '',
  'oua': '',
  'oul': '',
  'ovb': '',
  'ovd': '',
  'owd': '',
  'oxb': '',
  'oxf': '',
  'pae': '',
  'pap': '',
  'pas': '',
  'pbg': '',
  'pbh': '',
  'pbi': '',
  'pdl': '',
  'pdp': '',
  'pbm': '',
  'pcl': '',
  'pdg': '',
  'pdv': '',
  'pdx': '',
  'pee': '',
  'pei': '',
  'pek': '',
  'pem': '',
  'pen': '',
  'per': '',
  'pet': '',
  'pew': '',
  'pfb': '',
  'pfo': '',
  'phc': '',
  'phf': '',
  'phk': '',
  'phl': '',
  'phx': '',
  'pie': '',
  'pik': '',
  'pio': '',
  'pit': '',
  'piu': '',
  'pix': '',
  'pku': '',
  'pkx': '',
  'plm': '',
  'pls': '',
  'plu': '',
  'plq': '',
  'plz': '',
  'pmi': '',
  'pmw': '',
  'pna': '',
  'pnh': '',
  'pni': '',
  'pnk': '',
  'pnq': '',
  'pns': '',
  'pnt': '',
  'pnz': '',
  'poa': '',
  'pom': '',
  'poo': '',
  'pop': '',
  'pos': '',
  'poz': '',
  'ppg': '',
  'ppt': '',
  'pqc': '',
  'prn': '',
  'prg': '',
  'psa': '',
  'psc': '',
  'pse': '',
  'psm': '',
  'psp': '',
  'ptk': '',
  'ptp': '',
  'pty': '',
  'puf': '',
  'puq': '',
  'pus': '',
  'pvd': '',
  'pvg': '',
  'pvr': '',
  'pvu': '',
  'pwm': '',
  'pwk': '',
  'pxo': '',
  'pxu': '',
  'pzo': '',
  'qro': '',
  'rai': '',
  'rao': '',
  'rak': '',
  'rba': '',
  'rbd': '',
  'rbo': '',
  'rdd': '',
  'rdu': '',
  'rec': '',
  'rep': '',
  'rfd': '',
  'rgi': '',
  'rgn': '',
  'rho': '',
  'ric': '',
  'riv': '',
  'riw': '',
  'rix': '',
  'rjl': '',
  'rkv': '',
  'rlg': '',
  'rmi': '',
  'rms': '',
  'rno': '',
  'rns': '',
  'rnt': '',
  'roa': '',
  'rob': '',
  'roc': '',
  'ror': '',
  'ros': '',
  'rov': '',
  'row': '',
  'rpr': '',
  'rrg': '',
  'rst': '',
  'rsw': '',
  'rtm': '',
  'ruh': '',
  'run': '',
  'rvn' : '',
  'ryg': '',
  'ryk': '',
  'rze': '',
  'sab': '',
  'saf': '',
  'sah': '',
  'sal': '',
  'san': '',
  'sat': '',
  'sav': '',
  'saw': '',
  'sba': '',
  'sbd': '',
  'sbn': '',
  'sbp': '',
  'sce': '',
  'sck': '',
  'scl': '',
  'sco': '',
  'scq': '',
  'sct': '',
  'sdf': '',
  'sdq': '',
  'sdr': '',
  'sdu': '',
  'sea': '',
  'sen': '',
  'sex': '',
  'sfa': '',
  'sfj': '',
  'sfn': '',
  'sfo': '',
  'sgc': '',
  'sgf': '',
  'sgn': '',
  'sgu': '',
  'sgy': '',
  'sha': '',
  'shd': '',
  'she': '',
  'shv': '',
  'sid': '',
  'sin': '',
  'sip': '',
  'sir': '',
  'sjc': '',
  'sjd': '',
  'sjj': '',
  'sjk': '',
  'sjo': '',
  'sju': '',
  'sjz': '',
  'skb': '',
  'skg': '',
  'skp': '',
  'skt': '',
  'skz': '',
  'slc': '',
  'slk': '',
  'slm': '',
  'sln': '',
  'slu': '',
  'slz': '',
  'sma': '',
  'smf': '',
  'sna': '',
  'snn': '',
  'snr': '',
  'sob': '',
  'soc': '',
  'sof': '',
  'soq': '',
  'sou': '',
  'soy': '',
  'spc': '',
  'spg': '',
  'spn': '',
  'spu': '',
  'sql': '',
  'sre': '',
  'srg': '',
  'srq': '',
  'ssa': '',
  'ssf': '',
  'ssg': '',
  'ssh': '',
  'sti': '',
  'stl': '',
  'stm': '',
  'stn': '',
  'stp': '',
  'str': '',
  'sts': '',
  'stt': '',
  'stx': '',
  'sub': '',
  'sun': '',
  'suv': '',
  'sux': '',
  'svd': '',
  'svg': '',
  'svo': '',
  'svq': '',
  'svx': '',
  'swf': '',
  'sxb': '',
  'sxf': '',
  'sxm': '',
  'sxr': '',
  'syd': '',
  'syr': '',
  'syx': '',
  'syz': '',
  'szb': '',
  'szg': '',
  'szx': '',
  'tab': '',
  'tak': '',
  'tao': '',
  'tas': '',
  'tbb': '',
  'tbp': '',
  'tbs': '',
  'tbz': '',
  'tcq': '',
  'ter': '',
  'tfn': '',
  'tfs': '',
  'tgd': '',
  'tgi': '',
  'tgm': '',
  'tgu': '',
  'the': '',
  'thr': '',
  'tia': '',
  'tif': '',
  'tij': '',
  'tip': '',
  'tiv': '',
  'tjm': '',
  'tkk': '',
  'tll': '',
  'tls': '',
  'tlv': '',
  'tmc': '',
  'tms': '',
  'tna': '',
  'tng': '',
  'tnm': '',
  'tnr': '',
  'tnt': '',
  'tol': '',
  'tos': '',
  'tpa': '',
  'tpe': '',
  'tpp': '',
  'trd': '',
  'tre': '',
  'trf': '',
  'tri': '',
  'trn': '',
  'trs': '',
  'tru': '',
  'trv': '',
  'trw': '',
  'tsa': '',
  'tse': '',
  'tsn': '',
  'ttn': '',
  'tul': '',
  'tun': '',
  'tus': '',
  'tvc': '',
  'txl': '',
  'tyl': '',
  'tys': '',
  'tzl': '',
  'ufa': '',
  'uih': '',
  'uio': '',
  'ukk': '',
  'uln': '',
  'upg': '',
  'ura': '',
  'ush': '',
  'usm': '',
  'uth': '',
  'uud': '',
  'uus': '',
  'uvf': '',
  'vam': '',
  'var': '',
  'vav': '',
  'vca': '',
  'vce': '',
  'vcl': '',
  'vcp': '',
  'vcs': '',
  'vde': '',
  'vdh': '',
  'ver': '',
  'vgo': '',
  'vgt': '',
  'vie': '',
  'vii': '',
  'vix': '',
  'vkg': '',
  'vko': '',
  'vlc': '',
  'vli': '',
  'vll': '',
  'vln': '',
  'vno': '',
  'vns': '',
  'vny': '',
  'vog': '',
  'voz': '',
  'vps': '',
  'vrn': '',
  'vte': '',
  'vvi': '',
  'waw': '',
  'wdh': '',
  'wlg': '',
  'wmi': '',
  'wgp': '',
  'wro': '',
  'wux': '',
  'xch': '',
  'xiy': '',
  'xmn': '',
  'xna': '',
  'xnn': '',
  'xry': '',
  'yam': '',
  'yap': '',
  'yaz': '',
  'ycd': '',
  'ydt': '',
  'yeg': '',
  'yfb': '',
  'ygo': '',
  'yhk': '',
  'yhm': '',
  'yhz': '',
  'yip': '',
  'yjs': '',
  'ylt': '',
  'ylw': '',
  'ymm': '',
  'ymx': '',
  'ynb': '',
  'yng': '',
  'yon': '',
  'yoo': '',
  'yow': '',
  'yqb': '',
  'yqm': '',
  'yqr': '',
  'yqt': '',
  'yqx': '',
  'yqy': '',
  'ysb': '',
  'ysj': '',
  'ytz': '',
  'yul': '',
  'yum': '',
  'yvr': '',
  'ywg': '',
  'yxe': '',
  'yxh': '',
  'yxu': '',
  'yxx': '',
  'yxy': '',
  'yyc': '',
  'yyd': '',
  'yyj': '',
  'yyt': '',
  'yyz': '',
  'yzf': '',
  'zad': '',
  'zag': '',
  'zaz': '',
  'zcl': '',
  'zia': '',
  'zih': '',
  'zlo': '',
  'zqn': '',
  'zrh': '',
}
