// Variables

// Font Families
$font-family-brandon = "brandon-grotesque", Helvetica, Arial, sans-serif
$font-family-clavo = "clavo", Georgia, serif
$font-family-georgia = Georgia, serif

// Font Weights
$font-weight-normal = 400
$font-weight-medium = 700
$font-weight-bold = 900

// Colors

white(alpha)
  rgba(255,255,255,alpha)

black(alpha)
  rgba(0,0,0,alpha)

$grey-drk = #444

$blue = #40bae2

// Transforms & transitions

transition(args)
  -webkit-transition: args
  -moz-transition: args
  transition: args

transform(args)
  -webkit-transform: args
  -moz-transform: args
  transform: args

centerContent =
  position: absolute
  top: 50%
  left: 50%
  -webkit-transform: translate(-50%,-50%)
  -moz-transform: translate(-50%,-50%)
  transform: translate(-50%,-50%)

centerHoriz =
  position: absolute
  left: 50%
  -webkit-transform: translateX(-50%)
  -moz-transform: translateX(-50%)
  transform: translateX(-50%)

centerVert =
  position: absolute
  top: 50%
  -webkit-transform: translateY(-50%)
  -moz-transform: translateY(-50%)
  transform: translateY(-50%)

// Animations

fadeIn =
  -webkit-animation: fadein .4s
  -moz-animation: fadein .4s
  -o-animation: fadein .4s
  animation: fadein .4s

fadeInKeyframes =
  @keyframes fadein
    from
      opacity: 0
    to
      opacity: 1