// Background photos

// 404
.lost
  background-image: url(images/starwars.gif)

// About
.about
  background-image: url(images/airplane.gif)

// Contribute
.contribute
  @media (max-width: 700px)
    background-image: url(images/conair-small.jpg)
  @media (min-width: 701px)
    background-image: url(images/conair.jpg)

$media-sm-max = 700px
$media-md-max = 1500px

// Cards
.card

  &.abq { background-image: url($card/$abq) }
  &.akl { background-image: url($card/$akl) }
  &.ams { background-image: url($card/$ams) }
  &.anc { background-image: url($card/$anc) }
  &.arn { background-image: url($card/$arn) }
  &.atl { background-image: url($card/$atl) }
  &.aus { background-image: url($card/$aus) }
  &.bdl { background-image: url($card/$bdl) }
  &.bhm { background-image: url($card/$bhm) }
  &.bhx { background-image: url($card/$bhx) }
  &.bna { background-image: url($card/$bna) }
  &.bog { background-image: url($card/$bog) }
  &.boh { background-image: url($card/$boh) }
  &.boi { background-image: url($card/$boi) }
  &.bom { background-image: url($card/$bom) }
  &.bos { background-image: url($card/$bos) }
  &.bru { background-image: url($card/$bru) }
  &.btv { background-image: url($card/$btv) }
  &.bud { background-image: url($card/$bud) }
  &.buf { background-image: url($card/$buf) }
  &.bwi { background-image: url($card/$bwi) }
  &.bzn { background-image: url($card/$bzn) }
  &.ccs { background-image: url($card/$ccs) }
  &.cdg { background-image: url($card/$cdg) }
  &.cgh { background-image: url($card/$cgh) }
  &.cgn { background-image: url($card/$cgn) }
  &.chs { background-image: url($card/$chs) }
  &.cid { background-image: url($card/$cid) }
  &.cle { background-image: url($card/$cle) }
  &.clt { background-image: url($card/$clt) }
  &.cmh { background-image: url($card/$cmh) }
  &.cnx { background-image: url($card/$cnx) }
  &.cph { background-image: url($card/$cph) }
  &.crw { background-image: url($card/$crw) }
  &.cvg { background-image: url($card/$cvg) }
  &.day { background-image: url($card/$day) }
  &.dca { background-image: url($card/$dca) }
  &.den { background-image: url($card/$den) }
  &.del { background-image: url($card/$del) }
  &.dfw { background-image: url($card/$dfw) }
  &.dtm { background-image: url($card/$dtm) }
  &.dtw { background-image: url($card/$dtw) }
  &.dub { background-image: url($card/$dub) }
  &.dus { background-image: url($card/$dus) }
  &.dxb { background-image: url($card/$dxb) }
  &.edi { background-image: url($card/$edi) }
  &.evn { background-image: url($card/$evn) }
  &.ewr { background-image: url($card/$ewr) }
  &.eze { background-image: url($card/$eze) }
  &.fca { background-image: url($card/$fca) }
  &.fco { background-image: url($card/$fco) }
  &.fra { background-image: url($card/$fra) }
  &.fsd { background-image: url($card/$fsd) }
  &.geg { background-image: url($card/$geg) }
  &.gig { background-image: url($card/$gig) }
  &.gla { background-image: url($card/$gla) }
  &.grb { background-image: url($card/$grb) }
  &.grr { background-image: url($card/$grr) }
  &.gru { background-image: url($card/$gru) }
  &.gyd { background-image: url($card/$gyd) }
  &.hel { background-image: url($card/$hel) }
  &.hkg { background-image: url($card/$hkg) }
  &.hnd { background-image: url($card/$hnd) }
  &.hnl { background-image: url($card/$hnl) }
  &.hou { background-image: url($card/$hou) }
  &.iad { background-image: url($card/$iad) }
  &.iah { background-image: url($card/$iah) }
  &.icn { background-image: url($card/$icn) }
  &.ict { background-image: url($card/$ict) }
  &.ind { background-image: url($card/$ind) }
  &.ist { background-image: url($card/$ist) }
  &.jac { background-image: url($card/$jac) }
  &.jfk { background-image: url($card/$jfk) }
  &.las { background-image: url($card/$las) }
  &.lax { background-image: url($card/$lax) }
  &.lga { background-image: url($card/$lga) }
  &.lhr { background-image: url($card/$lhr) }
  &.lim { background-image: url($card/$lim) }
  &.lis { background-image: url($card/$lis) }
  &.lit { background-image: url($card/$lit) }
  &.mad { background-image: url($card/$mad) }
  &.mci { background-image: url($card/$mci) }
  &.mco { background-image: url($card/$mco) }
  &.mdt { background-image: url($card/$mdt) }
  &.mdw { background-image: url($card/$mdw) }
  &.mem { background-image: url($card/$mem) }
  &.mex { background-image: url($card/$mex) }
  &.mht { background-image: url($card/$mht) }
  &.mia { background-image: url($card/$mia) }
  &.mke { background-image: url($card/$mke) }
  &.msp { background-image: url($card/$msp) }
  &.msy { background-image: url($card/$msy) }
  &.muc { background-image: url($card/$muc) }
  &.nce { background-image: url($card/$nce) }
  &.ogg { background-image: url($card/$ogg) }
  &.okc { background-image: url($card/$okc) }
  &.oma { background-image: url($card/$oma) }
  &.ord { background-image: url($card/$ord) }
  &.orf { background-image: url($card/$orf) }
  &.ory { background-image: url($card/$ory) }
  &.osl { background-image: url($card/$osl) }
  &.pdx { background-image: url($card/$pdx) }
  &.pek { background-image: url($card/$pek) }
  &.phl { background-image: url($card/$phl) }
  &.phx { background-image: url($card/$phx) }
  &.pit { background-image: url($card/$pit) }
  &.psc { background-image: url($card/$psc) }
  &.prg { background-image: url($card/$prg) }
  &.pvd { background-image: url($card/$pvd) }
  &.pwm { background-image: url($card/$pwm) }
  &.rdu { background-image: url($card/$rdu) }
  &.rix { background-image: url($card/$rix) }
  &.rsw { background-image: url($card/$rsw) }
  &.scl { background-image: url($card/$scl) }
  &.sdf { background-image: url($card/$sdf) }
  &.sea { background-image: url($card/$sea) }
  &.sfo { background-image: url($card/$sfo) }
  &.slc { background-image: url($card/$slc) }
  &.smf { background-image: url($card/$smf) }
  &.sna { background-image: url($card/$sna) }
  &.stl { background-image: url($card/$stl) }
  &.sux { background-image: url($card/$sux) }
  &.syd { background-image: url($card/$syd) }
  &.szg { background-image: url($card/$szg) }
  &.tbs { background-image: url($card/$tbs) }
  &.tia { background-image: url($card/$tia) }
  &.tll { background-image: url($card/$tll) }
  &.vie { background-image: url($card/$vie) }
  &.waw { background-image: url($card/$waw) }
  &.wlg { background-image: url($card/$wlg) }
  &.yqb { background-image: url($card/$yqb) }
  &.yvr { background-image: url($card/$yvr) }
  &.yyz { background-image: url($card/$yyz) }
  &.zrh { background-image: url($card/$zrh) }


// Detail Small
@media (max-width: $media-sm-max)
  .detail

    &.abq { background-image: url($small/$abq) }
    &.akl { background-image: url($small/$akl) }
    &.ams { background-image: url($small/$ams) }
    &.anc { background-image: url($small/$anc) }
    &.arn { background-image: url($small/$arn) }
    &.atl { background-image: url($small/$atl) }
    &.aus { background-image: url($small/$aus) }
    &.bhm { background-image: url($small/$bhm) }
    &.bdl { background-image: url($small/$bdl) }
    &.bhx { background-image: url($small/$bhx) }
    &.bna { background-image: url($small/$bna) }
    &.bog { background-image: url($small/$bog) }
    &.boh { background-image: url($small/$boh) }
    &.boi { background-image: url($small/$boi) }
    &.bom { background-image: url($small/$bom) }
    &.bos { background-image: url($small/$bos) }
    &.bru { background-image: url($small/$bru) }
    &.btv { background-image: url($small/$btv) }
    &.bud { background-image: url($small/$bud) }
    &.buf { background-image: url($small/$buf) }
    &.bwi { background-image: url($small/$bwi) }
    &.bzn { background-image: url($small/$bzn) }
    &.ccs { background-image: url($small/$ccs) }
    &.cdg { background-image: url($small/$cdg) }
    &.cgh { background-image: url($small/$cgh) }
    &.cgn { background-image: url($small/$cgn) }
    &.chs { background-image: url($small/$chs) }
    &.cid { background-image: url($small/$cid) }
    &.cle { background-image: url($small/$cle) }
    &.clt { background-image: url($small/$clt) }
    &.cmh { background-image: url($small/$cmh) }
    &.cnx { background-image: url($small/$cnx) }
    &.cph { background-image: url($small/$cph) }
    &.crw { background-image: url($small/$crw) }
    &.cvg { background-image: url($small/$cvg) }
    &.day { background-image: url($small/$day) }
    &.dca { background-image: url($small/$dca) }
    &.den { background-image: url($small/$den) }
    &.del { background-image: url($small/$del) }
    &.dfw { background-image: url($small/$dfw) }
    &.dtm { background-image: url($small/$dtm) }
    &.dtw { background-image: url($small/$dtw) }
    &.dub { background-image: url($small/$dub) }
    &.dus { background-image: url($small/$dus) }
    &.dxb { background-image: url($small/$dxb) }
    &.edi { background-image: url($small/$edi) }
    &.evn { background-image: url($small/$evn) }
    &.ewr { background-image: url($small/$ewr) }
    &.eze { background-image: url($small/$eze) }
    &.fca { background-image: url($small/$fca) }
    &.fco { background-image: url($small/$fco) }
    &.fra { background-image: url($small/$fra) }
    &.fsd { background-image: url($small/$fsd) }
    &.geg { background-image: url($small/$geg) }
    &.gig { background-image: url($small/$gig) }
    &.gla { background-image: url($small/$gla) }
    &.grb { background-image: url($small/$grb) }
    &.grr { background-image: url($small/$grr) }
    &.gru { background-image: url($small/$gru) }
    &.gyd { background-image: url($small/$gyd) }
    &.hel { background-image: url($small/$hel) }
    &.hkg { background-image: url($small/$hkg) }
    &.hnd { background-image: url($small/$hnd) }
    &.hnl { background-image: url($small/$hnl) }
    &.hou { background-image: url($small/$hou) }
    &.iad { background-image: url($small/$iad) }
    &.iah { background-image: url($small/$iah) }
    &.icn { background-image: url($small/$icn) }
    &.ict { background-image: url($small/$ict) }
    &.ind { background-image: url($small/$ind) }
    &.ist { background-image: url($small/$ist) }
    &.jac { background-image: url($small/$jac) }
    &.jfk { background-image: url($small/$jfk) }
    &.las { background-image: url($small/$las) }
    &.lax { background-image: url($small/$lax) }
    &.lga { background-image: url($small/$lga) }
    &.lhr { background-image: url($small/$lhr) }
    &.lim { background-image: url($small/$lim) }
    &.lis { background-image: url($small/$lis) }
    &.lit { background-image: url($small/$lit) }
    &.mad { background-image: url($small/$mad) }
    &.mci { background-image: url($small/$mci) }
    &.mco { background-image: url($small/$mco) }
    &.mdt { background-image: url($small/$mdt) }
    &.mdw { background-image: url($small/$mdw) }
    &.mem { background-image: url($small/$mem) }
    &.mex { background-image: url($small/$mex) }
    &.mht { background-image: url($small/$mht) }
    &.mia { background-image: url($small/$mia) }
    &.mke { background-image: url($small/$mke) }
    &.msp { background-image: url($small/$msp) }
    &.msy { background-image: url($small/$msy) }
    &.muc { background-image: url($small/$muc) }
    &.nce { background-image: url($small/$nce) }
    &.ogg { background-image: url($small/$ogg) }
    &.okc { background-image: url($small/$okc) }
    &.oma { background-image: url($small/$oma) }
    &.ord { background-image: url($small/$ord) }
    &.orf { background-image: url($small/$orf) }
    &.ory { background-image: url($small/$ory) }
    &.osl { background-image: url($small/$osl) }
    &.pdx { background-image: url($small/$pdx) }
    &.pek { background-image: url($small/$pek) }
    &.phl { background-image: url($small/$phl) }
    &.phx { background-image: url($small/$phx) }
    &.pit { background-image: url($small/$pit) }
    &.prg { background-image: url($small/$prg) }
    &.psc { background-image: url($small/$psc) }
    &.pvd { background-image: url($small/$pvd) }
    &.pwm { background-image: url($small/$pwm) }
    &.rdu { background-image: url($small/$rdu) }
    &.rix { background-image: url($small/$rix) }
    &.rsw { background-image: url($small/$rsw) }
    &.scl { background-image: url($small/$scl) }
    &.sdf { background-image: url($small/$sdf) }
    &.sea { background-image: url($small/$sea) }
    &.sfo { background-image: url($small/$sfo) }
    &.slc { background-image: url($small/$slc) }
    &.smf { background-image: url($small/$smf) }
    &.sna { background-image: url($small/$sna) }
    &.stl { background-image: url($small/$stl) }
    &.sux { background-image: url($small/$sux) }
    &.syd { background-image: url($small/$syd) }
    &.szg { background-image: url($small/$szg) }
    &.tbs { background-image: url($small/$tbs) }
    &.tia { background-image: url($small/$tia) }
    &.tll { background-image: url($small/$tll) }
    &.vie { background-image: url($small/$vie) }
    &.waw { background-image: url($small/$waw) }
    &.wlg { background-image: url($small/$wlg) }
    &.yqb { background-image: url($small/$yqb) }
    &.yvr { background-image: url($small/$yvr) }
    &.yyz { background-image: url($small/$yyz) }
    &.zrh { background-image: url($small/$zrh) }


// Detail Medium
@media (min-width: $media-sm-max + 1px) and (max-width: $media-md-max)
  .detail

    &.abq { background-image: url($medium/$abq) }
    &.akl { background-image: url($medium/$akl) }
    &.ams { background-image: url($medium/$ams) }
    &.anc { background-image: url($medium/$anc) }
    &.arn { background-image: url($medium/$arn) }
    &.atl { background-image: url($medium/$atl) }
    &.aus { background-image: url($medium/$aus) }
    &.bdl { background-image: url($medium/$bdl) }
    &.bhm { background-image: url($medium/$bhm) }
    &.bhx { background-image: url($medium/$bhx) }
    &.bna { background-image: url($medium/$bna) }
    &.bog { background-image: url($medium/$bog) }
    &.boh { background-image: url($medium/$boh) }
    &.boi { background-image: url($medium/$boi) }
    &.bom { background-image: url($medium/$bom) }
    &.bos { background-image: url($medium/$bos) }
    &.bru { background-image: url($medium/$bru) }
    &.btv { background-image: url($medium/$btv) }
    &.bud { background-image: url($medium/$bud) }
    &.buf { background-image: url($medium/$buf) }
    &.bwi { background-image: url($medium/$bwi) }
    &.bzn { background-image: url($medium/$bzn) }
    &.ccs { background-image: url($medium/$ccs) }
    &.cdg { background-image: url($medium/$cdg) }
    &.cgh { background-image: url($medium/$cgh) }
    &.cgn { background-image: url($medium/$cgn) }
    &.chs { background-image: url($medium/$chs) }
    &.cid { background-image: url($medium/$cid) }
    &.cle { background-image: url($medium/$cle) }
    &.clt { background-image: url($medium/$clt) }
    &.cmh { background-image: url($medium/$cmh) }
    &.cnx { background-image: url($medium/$cnx) }
    &.cph { background-image: url($medium/$cph) }
    &.crw { background-image: url($medium/$crw) }
    &.cvg { background-image: url($medium/$cvg) }
    &.day { background-image: url($medium/$day) }
    &.dca { background-image: url($medium/$dca) }
    &.den { background-image: url($medium/$den) }
    &.del { background-image: url($medium/$del) }
    &.dfw { background-image: url($medium/$dfw) }
    &.dtm { background-image: url($medium/$dtm) }
    &.dtw { background-image: url($medium/$dtw) }
    &.dub { background-image: url($medium/$dub) }
    &.dus { background-image: url($medium/$dus) }
    &.dxb { background-image: url($medium/$dxb) }
    &.edi { background-image: url($medium/$edi) }
    &.evn { background-image: url($medium/$evn) }
    &.ewr { background-image: url($medium/$ewr) }
    &.eze { background-image: url($medium/$eze) }
    &.fca { background-image: url($medium/$fca) }
    &.fco { background-image: url($medium/$fco) }
    &.fra { background-image: url($medium/$fra) }
    &.fsd { background-image: url($medium/$fsd) }
    &.geg { background-image: url($medium/$geg) }
    &.gig { background-image: url($medium/$gig) }
    &.gla { background-image: url($medium/$gla) }
    &.grb { background-image: url($medium/$grb) }
    &.grr { background-image: url($medium/$grr) }
    &.gru { background-image: url($medium/$gru) }
    &.gyd { background-image: url($medium/$gyd) }
    &.hel { background-image: url($medium/$hel) }
    &.hkg { background-image: url($medium/$hkg) }
    &.hnd { background-image: url($medium/$hnd) }
    &.hnl { background-image: url($medium/$hnl) }
    &.hou { background-image: url($medium/$hou) }
    &.iad { background-image: url($medium/$iad) }
    &.iah { background-image: url($medium/$iah) }
    &.icn { background-image: url($medium/$icn) }
    &.ict { background-image: url($medium/$ict) }
    &.ind { background-image: url($medium/$ind) }
    &.ist { background-image: url($medium/$ist) }
    &.jac { background-image: url($medium/$jac) }
    &.jfk { background-image: url($medium/$jfk) }
    &.las { background-image: url($medium/$las) }
    &.lax { background-image: url($medium/$lax) }
    &.lga { background-image: url($medium/$lga) }
    &.lhr { background-image: url($medium/$lhr) }
    &.lim { background-image: url($medium/$lim) }
    &.lis { background-image: url($medium/$lis) }
    &.lit { background-image: url($medium/$lit) }
    &.mad { background-image: url($medium/$mad) }
    &.mci { background-image: url($medium/$mci) }
    &.mco { background-image: url($medium/$mco) }
    &.mdt { background-image: url($medium/$mdt) }
    &.mdw { background-image: url($medium/$mdw) }
    &.mem { background-image: url($medium/$mem) }
    &.mex { background-image: url($medium/$mex) }
    &.mht { background-image: url($medium/$mht) }
    &.mia { background-image: url($medium/$mia) }
    &.mke { background-image: url($medium/$mke) }
    &.msp { background-image: url($medium/$msp) }
    &.msy { background-image: url($medium/$msy) }
    &.muc { background-image: url($medium/$muc) }
    &.nce { background-image: url($medium/$nce) }
    &.ogg { background-image: url($medium/$ogg) }
    &.okc { background-image: url($medium/$okc) }
    &.oma { background-image: url($medium/$oma) }
    &.ord { background-image: url($medium/$ord) }
    &.orf { background-image: url($medium/$orf) }
    &.ory { background-image: url($medium/$ory) }
    &.osl { background-image: url($medium/$osl) }
    &.pdx { background-image: url($medium/$pdx) }
    &.pek { background-image: url($medium/$pek) }
    &.phl { background-image: url($medium/$phl) }
    &.phx { background-image: url($medium/$phx) }
    &.pit { background-image: url($medium/$pit) }
    &.prg { background-image: url($medium/$prg) }
    &.psc { background-image: url($medium/$psc) }
    &.pvd { background-image: url($medium/$pvd) }
    &.pwm { background-image: url($medium/$pwm) }
    &.rdu { background-image: url($medium/$rdu) }
    &.rix { background-image: url($medium/$rix) }
    &.rsw { background-image: url($medium/$rsw) }
    &.scl { background-image: url($medium/$scl) }
    &.sdf { background-image: url($medium/$sdf) }
    &.sea { background-image: url($medium/$sea) }
    &.sfo { background-image: url($medium/$sfo) }
    &.slc { background-image: url($medium/$slc) }
    &.smf { background-image: url($medium/$smf) }
    &.sna { background-image: url($medium/$sna) }
    &.stl { background-image: url($medium/$stl) }
    &.sux { background-image: url($medium/$sux) }
    &.syd { background-image: url($medium/$syd) }
    &.szg { background-image: url($medium/$szg) }
    &.tbs { background-image: url($medium/$tbs) }
    &.tia { background-image: url($medium/$tia) }
    &.tll { background-image: url($medium/$tll) }
    &.vie { background-image: url($medium/$vie) }
    &.waw { background-image: url($medium/$waw) }
    &.wlg { background-image: url($medium/$wlg) }
    &.yqb { background-image: url($medium/$yqb) }
    &.yvr { background-image: url($medium/$yvr) }
    &.yyz { background-image: url($medium/$yyz) }
    &.zrh { background-image: url($medium/$zrh) }

// Detail Large
@media (min-width: $media-md-max + 1px)
  .detail

    &.abq { background-image: url($large/$abq) }
    &.akl { background-image: url($large/$akl) }
    &.ams { background-image: url($large/$ams) }
    &.anc { background-image: url($large/$anc) }
    &.arn { background-image: url($large/$arn) }
    &.atl { background-image: url($large/$atl) }
    &.aus { background-image: url($large/$aus) }
    &.bdl { background-image: url($large/$bdl) }
    &.bhm { background-image: url($large/$bhm) }
    &.bhx { background-image: url($large/$bhx) }
    &.bna { background-image: url($large/$bna) }
    &.bog { background-image: url($large/$bog) }
    &.boh { background-image: url($large/$boh) }
    &.boi { background-image: url($large/$boi) }
    &.bom { background-image: url($large/$bom) }
    &.bos { background-image: url($large/$bos) }
    &.bru { background-image: url($large/$bru) }
    &.btv { background-image: url($large/$btv) }
    &.bud { background-image: url($large/$bud) }
    &.buf { background-image: url($large/$buf) }
    &.bwi { background-image: url($large/$bwi) }
    &.bzn { background-image: url($large/$bzn) }
    &.ccs { background-image: url($large/$ccs) }
    &.cdg { background-image: url($large/$cdg) }
    &.cgh { background-image: url($large/$cgh) }
    &.cgn { background-image: url($large/$cgn) }
    &.chs { background-image: url($large/$chs) }
    &.cid { background-image: url($large/$cid) }
    &.cle { background-image: url($large/$cle) }
    &.clt { background-image: url($large/$clt) }
    &.cmh { background-image: url($large/$cmh) }
    &.cnx { background-image: url($large/$cnx) }
    &.cph { background-image: url($large/$cph) }
    &.crw { background-image: url($large/$crw) }
    &.cvg { background-image: url($large/$cvg) }
    &.day { background-image: url($large/$day) }
    &.dca { background-image: url($large/$dca) }
    &.den { background-image: url($large/$den) }
    &.del { background-image: url($large/$del) }
    &.dfw { background-image: url($large/$dfw) }
    &.dtm { background-image: url($large/$dtm) }
    &.dtw { background-image: url($large/$dtw) }
    &.dub { background-image: url($large/$dub) }
    &.dus { background-image: url($large/$dus) }
    &.dxb { background-image: url($large/$dxb) }
    &.edi { background-image: url($large/$edi) }
    &.evn { background-image: url($large/$evn) }
    &.ewr { background-image: url($large/$ewr) }
    &.eze { background-image: url($large/$eze) }
    &.fca { background-image: url($large/$fca) }
    &.fco { background-image: url($large/$fco) }
    &.fra { background-image: url($large/$fra) }
    &.fsd { background-image: url($large/$fsd) }
    &.geg { background-image: url($large/$geg) }
    &.gig { background-image: url($large/$gig) }
    &.gla { background-image: url($large/$gla) }
    &.grb { background-image: url($large/$grb) }
    &.grr { background-image: url($large/$grr) }
    &.gru { background-image: url($large/$gru) }
    &.gyd { background-image: url($large/$gyd) }
    &.hel { background-image: url($large/$hel) }
    &.hkg { background-image: url($large/$hkg) }
    &.hnd { background-image: url($large/$hnd) }
    &.hnl { background-image: url($large/$hnl) }
    &.hou { background-image: url($large/$hou) }
    &.iad { background-image: url($large/$iad) }
    &.iah { background-image: url($large/$iah) }
    &.icn { background-image: url($large/$icn) }
    &.ict { background-image: url($large/$ict) }
    &.ind { background-image: url($large/$ind) }
    &.ist { background-image: url($large/$ist) }
    &.jac { background-image: url($large/$jac) }
    &.jfk { background-image: url($large/$jfk) }
    &.las { background-image: url($large/$las) }
    &.lax { background-image: url($large/$lax) }
    &.lga { background-image: url($large/$lga) }
    &.lhr { background-image: url($large/$lhr) }
    &.lim { background-image: url($large/$lim) }
    &.lis { background-image: url($large/$lis) }
    &.lit { background-image: url($large/$lit) }
    &.mad { background-image: url($large/$mad) }
    &.mci { background-image: url($large/$mci) }
    &.mco { background-image: url($large/$mco) }
    &.mdt { background-image: url($large/$mdt) }
    &.mdw { background-image: url($large/$mdw) }
    &.mem { background-image: url($large/$mem) }
    &.mex { background-image: url($large/$mex) }
    &.mht { background-image: url($large/$mht) }
    &.mia { background-image: url($large/$mia) }
    &.mke { background-image: url($large/$mke) }
    &.msp { background-image: url($large/$msp) }
    &.msy { background-image: url($large/$msy) }
    &.muc { background-image: url($large/$muc) }
    &.nce { background-image: url($large/$nce) }
    &.ogg { background-image: url($large/$ogg) }
    &.okc { background-image: url($large/$okc) }
    &.oma { background-image: url($large/$oma) }
    &.ord { background-image: url($large/$ord) }
    &.orf { background-image: url($large/$orf) }
    &.ory { background-image: url($large/$ory) }
    &.osl { background-image: url($large/$osl) }
    &.pdx { background-image: url($large/$pdx) }
    &.pek { background-image: url($large/$pek) }
    &.phl { background-image: url($large/$phl) }
    &.phx { background-image: url($large/$phx) }
    &.pit { background-image: url($large/$pit) }
    &.prg { background-image: url($large/$prg) }
    &.psc { background-image: url($large/$psc) }
    &.pvd { background-image: url($large/$pvd) }
    &.pwm { background-image: url($large/$pwm) }
    &.rdu { background-image: url($large/$rdu) }
    &.rix { background-image: url($large/$rix) }
    &.rsw { background-image: url($large/$rsw) }
    &.scl { background-image: url($large/$scl) }
    &.sdf { background-image: url($large/$sdf) }
    &.sea { background-image: url($large/$sea) }
    &.sfo { background-image: url($large/$sfo) }
    &.slc { background-image: url($large/$slc) }
    &.smf { background-image: url($large/$smf) }
    &.sna { background-image: url($large/$sna) }
    &.stl { background-image: url($large/$stl) }
    &.sux { background-image: url($large/$sux) }
    &.syd { background-image: url($large/$syd) }
    &.szg { background-image: url($large/$szg) }
    &.tbs { background-image: url($large/$tbs) }
    &.tia { background-image: url($large/$tia) }
    &.tll { background-image: url($large/$tll) }
    &.vie { background-image: url($large/$vie) }
    &.waw { background-image: url($large/$waw) }
    &.wlg { background-image: url($large/$wlg) }
    &.yqb { background-image: url($large/$yqb) }
    &.yvr { background-image: url($large/$yvr) }
    &.yyz { background-image: url($large/$yyz) }
    &.zrh { background-image: url($large/$zrh) }
