// Background photos

// 404
.lost
  background-image: url(images/starwars.gif)

// About
.about
  background-image: url(images/airplane.gif)

// Contribute
.contribute
  @media (max-width: 700px)
    background-image: url(images/conair-small.jpg)
  @media (min-width: 701px)
    background-image: url(images/conair.jpg)

// Cards
.card

  &.anc { background-image: url($card/$anc) }
  &.atl { background-image: url($card/$atl) }
  &.aus { background-image: url($card/$aus) }
  &.bhm { background-image: url($card/$bhm) }
  &.bog { background-image: url($card/$bog) }
  &.bom { background-image: url($card/$bom) }
  &.bos { background-image: url($card/$bos) }
  &.ccs { background-image: url($card/$ccs) }
  &.cdg { background-image: url($card/$cdg) }
  &.cgh { background-image: url($card/$cgh) }
  &.clt { background-image: url($card/$clt) }
  &.cmh { background-image: url($card/$cmh) }
  &.cvg { background-image: url($card/$cvg) }
  &.den { background-image: url($card/$den) }
  &.dfw { background-image: url($card/$dfw) }
  &.dtw { background-image: url($card/$dtw) }
  &.dxb { background-image: url($card/$dxb) }
  &.ewr { background-image: url($card/$ewr) }
  &.eze { background-image: url($card/$eze) }
  &.fca { background-image: url($card/$fca) }
  &.gig { background-image: url($card/$gig) }
  &.grr { background-image: url($card/$grr) }
  &.gru { background-image: url($card/$gru) }
  &.hkg { background-image: url($card/$hkg) }
  &.hnd { background-image: url($card/$hnd) }
  &.iad { background-image: url($card/$iad) }
  &.iah { background-image: url($card/$iah) }
  &.icn { background-image: url($card/$icn) }
  &.jfk { background-image: url($card/$jfk) }
  &.las { background-image: url($card/$las) }
  &.lax { background-image: url($card/$lax) }
  &.lga { background-image: url($card/$lga) }
  &.lhr { background-image: url($card/$lhr) }
  &.lim { background-image: url($card/$lim) }
  &.lit { background-image: url($card/$lit) }
  &.mci { background-image: url($card/$mci) }
  &.mco { background-image: url($card/$mco) }
  &.mia { background-image: url($card/$mia) }
  &.msp { background-image: url($card/$msp) }
  &.msy { background-image: url($card/$msy) }
  &.ogg { background-image: url($card/$ogg) }
  &.ord { background-image: url($card/$ord) }
  &.pdx { background-image: url($card/$pdx) }
  &.pek { background-image: url($card/$pek) }
  &.phl { background-image: url($card/$phl) }
  &.phx { background-image: url($card/$phx) }
  &.rsw { background-image: url($card/$rsw) }
  &.scl { background-image: url($card/$scl) }
  &.sea { background-image: url($card/$sea) }
  &.sfo { background-image: url($card/$sfo) }
  &.smf { background-image: url($card/$smf) }
  &.yvr { background-image: url($card/$yvr) }
  &.yyz { background-image: url($card/$yyz) }


// Detail Small
@media (max-width: 700px)
  .detail

    &.anc { background-image: url($small/$anc) }
    &.atl { background-image: url($small/$atl) }
    &.aus { background-image: url($small/$aus) }
    &.bhm { background-image: url($small/$bhm) }
    &.bog { background-image: url($small/$bog) }
    &.bom { background-image: url($small/$bom) }
    &.bos { background-image: url($small/$bos) }
    &.ccs { background-image: url($small/$ccs) }
    &.cdg { background-image: url($small/$cdg) }
    &.cgh { background-image: url($small/$cgh) }
    &.clt { background-image: url($small/$clt) }
    &.cmh { background-image: url($small/$cmh) }
    &.cvg { background-image: url($small/$cvg) }
    &.den { background-image: url($small/$den) }
    &.dfw { background-image: url($small/$dfw) }
    &.dtw { background-image: url($small/$dtw) }
    &.dxb { background-image: url($small/$dxb) }
    &.ewr { background-image: url($small/$ewr) }
    &.eze { background-image: url($small/$eze) }
    &.fca { background-image: url($small/$fca) }
    &.gig { background-image: url($small/$gig) }
    &.grr { background-image: url($small/$grr) }
    &.gru { background-image: url($small/$gru) }
    &.hkg { background-image: url($small/$hkg) }
    &.hnd { background-image: url($small/$hnd) }
    &.iad { background-image: url($small/$iad) }
    &.iah { background-image: url($small/$iah) }
    &.icn { background-image: url($small/$icn) }
    &.jfk { background-image: url($small/$jfk) }
    &.las { background-image: url($small/$las) }
    &.lax { background-image: url($small/$lax) }
    &.lga { background-image: url($small/$lga) }
    &.lhr { background-image: url($small/$lhr) }
    &.lim { background-image: url($small/$lim) }
    &.lit { background-image: url($small/$lit) }
    &.mci { background-image: url($small/$mci) }
    &.mco { background-image: url($small/$mco) }
    &.mia { background-image: url($small/$mia) }
    &.msp { background-image: url($small/$msp) }
    &.msy { background-image: url($small/$msy) }
    &.ogg { background-image: url($small/$ogg) }
    &.ord { background-image: url($small/$ord) }
    &.pdx { background-image: url($small/$pdx) }
    &.pek { background-image: url($small/$pek) }
    &.phl { background-image: url($small/$phl) }
    &.phx { background-image: url($small/$phx) }
    &.rsw { background-image: url($small/$rsw) }
    &.scl { background-image: url($small/$scl) }
    &.sea { background-image: url($small/$sea) }
    &.sfo { background-image: url($small/$sfo) }
    &.smf { background-image: url($small/$smf) }
    &.yvr { background-image: url($small/$yvr) }
    &.yyz { background-image: url($small/$yyz) }


// Detail Medium
@media (min-width: 701px) and (max-width: 1200px)
  .detail

    &.anc { background-image: url($medium/$anc) }
    &.atl { background-image: url($medium/$atl) }
    &.aus { background-image: url($medium/$aus) }
    &.bhm { background-image: url($medium/$bhm) }
    &.bog { background-image: url($medium/$bog) }
    &.bom { background-image: url($medium/$bom) }
    &.bos { background-image: url($medium/$bos) }
    &.ccs { background-image: url($medium/$ccs) }
    &.cdg { background-image: url($medium/$cdg) }
    &.cgh { background-image: url($medium/$cgh) }
    &.clt { background-image: url($medium/$clt) }
    &.cmh { background-image: url($medium/$cmh) }
    &.cvg { background-image: url($medium/$cvg) }
    &.den { background-image: url($medium/$den) }
    &.dfw { background-image: url($medium/$dfw) }
    &.dtw { background-image: url($medium/$dtw) }
    &.dxb { background-image: url($medium/$dxb) }
    &.ewr { background-image: url($medium/$ewr) }
    &.eze { background-image: url($medium/$eze) }
    &.fca { background-image: url($medium/$fca) }
    &.gig { background-image: url($medium/$gig) }
    &.grr { background-image: url($medium/$grr) }
    &.gru { background-image: url($medium/$gru) }
    &.hkg { background-image: url($medium/$hkg) }
    &.hnd { background-image: url($medium/$hnd) }
    &.iad { background-image: url($medium/$iad) }
    &.iah { background-image: url($medium/$iah) }
    &.icn { background-image: url($medium/$icn) }
    &.jfk { background-image: url($medium/$jfk) }
    &.las { background-image: url($medium/$las) }
    &.lax { background-image: url($medium/$lax) }
    &.lga { background-image: url($medium/$lga) }
    &.lhr { background-image: url($medium/$lhr) }
    &.lim { background-image: url($medium/$lim) }
    &.lit { background-image: url($medium/$lit) }
    &.mci { background-image: url($medium/$mci) }
    &.mco { background-image: url($medium/$mco) }
    &.mia { background-image: url($medium/$mia) }
    &.msp { background-image: url($medium/$msp) }
    &.msy { background-image: url($medium/$msy) }
    &.ogg { background-image: url($medium/$ogg) }
    &.ord { background-image: url($medium/$ord) }
    &.pdx { background-image: url($medium/$pdx) }
    &.pek { background-image: url($medium/$pek) }
    &.phl { background-image: url($medium/$phl) }
    &.phx { background-image: url($medium/$phx) }
    &.rsw { background-image: url($medium/$rsw) }
    &.scl { background-image: url($medium/$scl) }
    &.sea { background-image: url($medium/$sea) }
    &.sfo { background-image: url($medium/$sfo) }
    &.smf { background-image: url($medium/$smf) }
    &.yvr { background-image: url($medium/$yvr) }
    &.yyz { background-image: url($medium/$yyz) }

// Detail Large
@media (min-width: 1201px)
  .detail

    &.anc { background-image: url($large/$anc) }
    &.atl { background-image: url($large/$atl) }
    &.aus { background-image: url($large/$aus) }
    &.bhm { background-image: url($large/$bhm) }
    &.bog { background-image: url($large/$bog) }
    &.bom { background-image: url($large/$bom) }
    &.bos { background-image: url($large/$bos) }
    &.ccs { background-image: url($large/$ccs) }
    &.cdg { background-image: url($large/$cdg) }
    &.cgh { background-image: url($large/$cgh) }
    &.clt { background-image: url($large/$clt) }
    &.cmh { background-image: url($large/$cmh) }
    &.cvg { background-image: url($large/$cvg) }
    &.den { background-image: url($large/$den) }
    &.dfw { background-image: url($large/$dfw) }
    &.dtw { background-image: url($large/$dtw) }
    &.dxb { background-image: url($large/$dxb) }
    &.ewr { background-image: url($large/$ewr) }
    &.eze { background-image: url($large/$eze) }
    &.fca { background-image: url($large/$fca) }
    &.gig { background-image: url($large/$gig) }
    &.grr { background-image: url($large/$grr) }
    &.gru { background-image: url($large/$gru) }
    &.hkg { background-image: url($large/$hkg) }
    &.hnd { background-image: url($large/$hnd) }
    &.iad { background-image: url($large/$iad) }
    &.iah { background-image: url($large/$iah) }
    &.icn { background-image: url($large/$icn) }
    &.jfk { background-image: url($large/$jfk) }
    &.las { background-image: url($large/$las) }
    &.lax { background-image: url($large/$lax) }
    &.lga { background-image: url($large/$lga) }
    &.lhr { background-image: url($large/$lhr) }
    &.lim { background-image: url($large/$lim) }
    &.lit { background-image: url($large/$lit) }
    &.mci { background-image: url($large/$mci) }
    &.mco { background-image: url($large/$mco) }
    &.mia { background-image: url($large/$mia) }
    &.msp { background-image: url($large/$msp) }
    &.msy { background-image: url($large/$msy) }
    &.ogg { background-image: url($large/$ogg) }
    &.ord { background-image: url($large/$ord) }
    &.pdx { background-image: url($large/$pdx) }
    &.pek { background-image: url($large/$pek) }
    &.phl { background-image: url($large/$phl) }
    &.phx { background-image: url($large/$phx) }
    &.rsw { background-image: url($large/$rsw) }
    &.scl { background-image: url($large/$scl) }
    &.sea { background-image: url($large/$sea) }
    &.sfo { background-image: url($large/$sfo) }
    &.smf { background-image: url($large/$smf) }
    &.yvr { background-image: url($large/$yvr) }
    &.yyz { background-image: url($large/$yyz) }