//- Background photos

//- Cards
.card

  &.atl
    background-image: url(images/atl-jon-tan-small.jpg)
  &.aus
    background-image: url(images/aus-jon-collier-small.jpg)
  &.bhm
    background-image: url(images/bhm-martin-hartland-small.jpg)
  &.bog
    background-image: url(images/bog-stephen-downes-small.jpg)
  &.bom
    background-image: url(images/bom-chris-hoare-small.jpg)
  &.bos
    background-image: url(images/bos-andrew-malone-small.jpg)
  &.ccs
    background-image: url(images/ccs-carlos-graterol-small.jpg)
  &.cdg
    background-image: url(images/cdg-giacomo-carena-small.jpg)
  &.cgh
    background-image: url(images/cgh-barbara-dieu-small.jpg)
  &.clt
    background-image: url(images/clt-steve-sara-emry-small.jpg)
  &.cmh
    background-image: url(images/cmh-gmanviz-small.jpg)
  &.cvg
    background-image: url(images/cvg-robert-s-donovan-small.jpg)
  &.den
    background-image: url(images/den-bart-heird-small.jpg)
  &.dfw
    background-image: url(images/dfw-jim-nix-small.jpg)
  &.dtw
    background-image: url(images/dtw-scott-beale-small.jpg)
  &.dxb
    background-image: url(images/dxb-roger-price-small.jpg)
  &.ewr
    background-image: url(images/ewr-bartnj-small.jpg)
  &.eze
    background-image: url(images/eze-gilmar-mattos-small.jpg)
  &.fca
    background-image: url(images/fca-theilr-small.jpg)
  &.gig
    background-image: url(images/gig-veroyama-small.jpg)
  &.grr
    background-image: url(images/grr-bill-couch-small.jpg)
  &.gru
    background-image: url(images/gru-fernando-stankuns-small.jpg)
  &.hkg
    background-image: url(images/hkg-chris-small.jpg)
  &.hnd
    background-image: url(images/hnd-hideyuki-kamon-small.jpg)
  &.iad
    background-image: url(images/iad-the-q-speaks-small.jpg)
  &.iah
    background-image: url(images/iah-josh-hallett-small.jpg)
  &.icn
    background-image: url(images/icn-marcella-bona-small.jpg)
  &.jfk
    background-image: url(images/jfk-timothy-vogel-small.jpg)
  &.las
    background-image: url(images/las-kevin-reese-small.jpg)
  &.lax
    background-image: url(images/lax-thomas-hawk-small.jpg)
  &.lga
    background-image: url(images/lga-stantontcady-small.jpg)
  &.lhr
    background-image: url(images/lhr-twinkabaute-small.jpg)
  &.lim
    background-image: url(images/lim-vasenkaphotography-small.jpg)
  &.mci
    background-image: url(images/mci-zhao-shouren-small.jpg)
  &.mco
    background-image: url(images/mco-benjamin-thompson-small.jpg)
  &.mia
    background-image: url(images/mia-lotus-carroll-small.jpg)
  &.msp
    background-image: url(images/msp-tom-kelly-small.jpg)
  &.msy
    background-image: url(images/msy-3dom-small.jpg)
  &.ogg
    background-image: url(images/ogg-jonathan-caves-small.jpg)
  &.ord
    background-image: url(images/ord-nick-harris-small.jpg)
  &.pdx
    background-image: url(images/pdx-pfly-small.jpg)
  &.pek
    background-image: url(images/pek-matt-weibo-small.jpg)
  &.phl
    background-image: url(images/phl-uchiuska-small.jpg)
  &.phx
    background-image: url(images/phx-liebe5-small.jpg)
  &.rsw
    background-image: url(images/rsw-b-small.jpg)
  &.scl
    background-image: url(images/scl-lane-becker-small.jpg)
  &.sea
    background-image: url(images/sea-drburtoni-small.jpg)
  &.sfo
    background-image: url(images/sfo-richard-winchell-small.jpg)
  &.smf
    background-image: url(images/smf-rich-small.jpg)
  &.yvr
    background-image: url(images/yvr-rick-schwartz-small.jpg)
  &.yyz
    background-image: url(images/yyz-coralie-mercier-small.jpg)

//- Detail (medium size)
@media (max-width: 960px)
  .detail
    &.atl
      background-image: url(images/atl-jon-tan.jpg)
    &.aus
      background-image: url(images/aus-jon-collier.jpg)
    &.bhm
      background-image: url(images/bhm-martin-hartland.jpg)
    &.bog
      background-image: url(images/bog-stephen-downes.jpg)
    &.bom
      background-image: url(images/bom-chris-hoare.jpg)
    &.bos
      background-image: url(images/bos-andrew-malone.jpg)
    &.ccs
      background-image: url(images/ccs-carlos-graterol.jpg)
    &.cdg
      background-image: url(images/cdg-giacomo-carena.jpg)
    &.cgh
      background-image: url(images/cgh-barbara-dieu.jpg)
    &.clt
      background-image: url(images/clt-steve-sara-emry.jpg)
    &.cmh
      background-image: url(images/cmh-gmanviz.jpg)
    &.cvg
      background-image: url(images/cvg-robert-s-donovan.jpg)
    &.den
      background-image: url(images/den-bart-heird.jpg)
    &.dfw
      background-image: url(images/dfw-jim-nix.jpg)
    &.dtw
      background-image: url(images/dtw-scott-beale.jpg)
    &.dxb
      background-image: url(images/dxb-roger-price.jpg)
    &.ewr
      background-image: url(images/ewr-bartnj.jpg)
    &.eze
      background-image: url(images/eze-gilmar-mattos.jpg)
    &.fca
      background-image: url(images/fca-theilr.jpg)
    &.gig
      background-image: url(images/gig-veroyama.jpg)
    &.grr
      background-image: url(images/grr-bill-couch.jpg)
    &.gru
      background-image: url(images/gru-fernando-stankuns.jpg)
    &.hkg
      background-image: url(images/hkg-chris.jpg)
    &.hnd
      background-image: url(images/hnd-hideyuki-kamon.jpg)
    &.iad
      background-image: url(images/iad-the-q-speaks.jpg)
    &.iah
      background-image: url(images/iah-josh-hallett.jpg)
    &.icn
      background-image: url(images/icn-marcella-bona.jpg)
    &.jfk
      background-image: url(images/jfk-timothy-vogel.jpg)
    &.las
      background-image: url(images/las-kevin-reese.jpg)
    &.lax
      background-image: url(images/lax-thomas-hawk.jpg)
    &.lga
      background-image: url(images/lga-stantontcady.jpg)
    &.lhr
      background-image: url(images/lhr-twinkabaute.jpg)
    &.lim
      background-image: url(images/lim-vasenkaphotography.jpg)
    &.mci
      background-image: url(images/mci-zhao-shouren.jpg)
    &.mco
      background-image: url(images/mco-benjamin-thompson.jpg)
    &.mia
      background-image: url(images/mia-lotus-carroll.jpg)
    &.msp
      background-image: url(images/msp-tom-kelly.jpg)
    &.msy
      background-image: url(images/msy-3dom.jpg)
    &.ogg
      background-image: url(images/ogg-jonathan-caves.jpg)
    &.ord
      background-image: url(images/ord-nick-harris.jpg)
    &.pdx
      background-image: url(images/pdx-pfly.jpg)
    &.pek
      background-image: url(images/pek-matt-weibo.jpg)
    &.phl
      background-image: url(images/phl-uchiuska.jpg)
    &.phx
      background-image: url(images/phx-liebe5.jpg)
    &.rsw
      background-image: url(images/rsw-b.jpg)
    &.scl
      background-image: url(images/scl-lane-becker.jpg)
    &.sea
      background-image: url(images/sea-drburtoni.jpg)
    &.sfo
      background-image: url(images/sfo-richard-winchell.jpg)
    &.smf
      background-image: url(images/smf-rich.jpg)
    &.yvr
      background-image: url(images/yvr-rick-schwartz.jpg)
    &.yyz
      background-image: url(images/yyz-coralie-mercier.jpg)

//- Detail (large size)
@media (min-width: 961px)
  .detail
    &.atl
      background-image: url(images/atl-jon-tan-large.jpg)
    &.aus
      background-image: url(images/aus-jon-collier-large.jpg)
    &.bhm
      background-image: url(images/bhm-martin-hartland-large.jpg)
    &.bog
      background-image: url(images/bog-stephen-downes-large.jpg)
    &.bom
      background-image: url(images/bom-chris-hoare-large.jpg)
    &.bos
      background-image: url(images/bos-andrew-malone-large.jpg)
    &.ccs
      background-image: url(images/ccs-carlos-graterol-large.jpg)
    &.cdg
      background-image: url(images/cdg-giacomo-carena-large.jpg)
    &.cgh
      background-image: url(images/cgh-barbara-dieu-large.jpg)
    &.clt
      background-image: url(images/clt-steve-sara-emry-large.jpg)
    &.cmh
      background-image: url(images/cmh-gmanviz-large.jpg)
    &.cvg
      background-image: url(images/cvg-robert-s-donovan-large.jpg)
    &.den
      background-image: url(images/den-bart-heird-large.jpg)
    &.dfw
      background-image: url(images/dfw-jim-nix-large.jpg)
    &.dtw
      background-image: url(images/dtw-scott-beale-large.jpg)
    &.dxb
      background-image: url(images/dxb-roger-price-large.jpg)
    &.ewr
      background-image: url(images/ewr-bartnj-large.jpg)
    &.eze
      background-image: url(images/eze-gilmar-mattos-large.jpg)
    &.fca
      background-image: url(images/fca-theilr-large.jpg)
    &.gig
      background-image: url(images/gig-veroyama-large.jpg)
    &.grr
      background-image: url(images/grr-bill-couch-large.jpg)
    &.gru
      background-image: url(images/gru-fernando-stankuns-large.jpg)
    &.hkg
      background-image: url(images/hkg-chris-large.jpg)
    &.hnd
      background-image: url(images/hnd-hideyuki-kamon-large.jpg)
    &.iad
      background-image: url(images/iad-the-q-speaks-large.jpg)
    &.iah
      background-image: url(images/iah-josh-hallett-large.jpg)
    &.icn
      background-image: url(images/icn-marcella-bona-large.jpg)
    &.jfk
      background-image: url(images/jfk-timothy-vogel-large.jpg)
    &.las
      background-image: url(images/las-kevin-reese-large.jpg)
    &.lax
      background-image: url(images/lax-thomas-hawk-large.jpg)
    &.lga
      background-image: url(images/lga-stantontcady-large.jpg)
    &.lhr
      background-image: url(images/lhr-twinkabaute-large.jpg)
    &.lim
      background-image: url(images/lim-vasenkaphotography-large.jpg)
    &.mci
      background-image: url(images/mci-zhao-shouren-large.jpg)
    &.mco
      background-image: url(images/mco-benjamin-thompson-large.jpg)
    &.mia
      background-image: url(images/mia-lotus-carroll-large.jpg)
    &.msp
      background-image: url(images/msp-tom-kelly-large.jpg)
    &.msy
      background-image: url(images/msy-3dom-large.jpg)
    &.ogg
      background-image: url(images/ogg-jonathan-caves-large.jpg)
    &.ord
      background-image: url(images/ord-nick-harris-large.jpg)
    &.pdx
      background-image: url(images/pdx-pfly-large.jpg)
    &.pek
      background-image: url(images/pek-matt-weibo-large.jpg)
    &.phl
      background-image: url(images/phl-uchiuska-large.jpg)
    &.phx
      background-image: url(images/phx-liebe5-large.jpg)
    &.rsw
      background-image: url(images/rsw-b-large.jpg)
    &.scl
      background-image: url(images/scl-lane-becker-large.jpg)
    &.sea
      background-image: url(images/sea-drburtoni-large.jpg)
    &.sfo
      background-image: url(images/sfo-richard-winchell-large.jpg)
    &.smf
      background-image: url(images/smf-rich-large.jpg)
    &.yvr
      background-image: url(images/yvr-rick-schwartz-large.jpg)
    &.yyz
      background-image: url(images/yyz-coralie-mercier-large.jpg)