// Airport Codes back link
.back
  padding: 8px
  position: absolute
  top: 13px
  left: 7px
  z-index: 2
  border-radius: 3px
  text-transform: uppercase
  font-weight: $font-weight-bold
  color: white

  &:hover
    opacity: .5

  &:focus
    background: $blue
    outline: none
