// Base styling

*, *:after, *:before
  box-sizing: border-box

html
  font-size: 100%
  -webkit-text-size-adjust: none

body
  padding-top: 50px
  background: black
  color: white

nav,
.airport-list
  opacity: 1
  transition(opacity .3s ease-in)

::-moz-selection
  background-color: cyan
  color: white

::selection
  background-color: cyan
  color: white

// Fade-in animation
{fadeInKeyframes}

// Clearfix
.cf
  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both
