//- Buttons

.btn
  margin: 15px 0
  padding: 15px 20px 12px
  display: inline-block
  background-color: $blue
  border-radius: 3px
  font-weight: $font-weight-medium
  text-transform: uppercase
  color: white

  &:hover,
  &:focus
    background-color: darken($blue, 35%)

  &:focus
    outline: none

  &.btn-secondary
    margin: 0
    padding: 7px 10px 8px
    background-color: rgba(64,186,226,.4)
    font-size: 14px

    &:hover,
    &:focus
      background-color: $blue
