//- Card styling

.card
  float: left
  background: $grey-drk no-repeat 50% 50%
  background-size: cover

  a
    padding: 80px 20px
    display: block
    background: black(.3)
    font-size: 60px
    font-weight: $font-weight-bold
    text-align: center
    text-transform: uppercase
    text-shadow: 0 0 10px black
    color: white
    z-index: 3
    transition: all .3s ease-in 
    -webkit-transition: all .3s ease-in

    &:hover
      background: transparent

  width: 50%

  @media (min-width: 600px)
    width: 33.33%

  @media (min-width: 800px)
    width: 25%

  @media (min-width: 1100px)
    width: 20%