//- Detail view

.detail
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  left: 0
  z-index: 10
  visbility: visible
  opacity: 1
  background: black no-repeat 50% 50%
  background-size: cover
  text-align: center
  {fadeIn}
  transition(opacity .2s ease-out, visibility .2s ease-out)

  &.hidden
    visibility: hidden
    opacity: 0
    -webkit-transition-delay: 0s
    -moz-transition-delay: 0s
    transition-delay: 0s

.detail

  .detail-info
    border: 1px solid white
    z-index: 2

    a.close-detail
      width: 40px
      height: @width
      position: absolute
      right: 0
      top: 0
      background: url(images/icon-close-white.svg) no-repeat center center
      background-size: 18px 18px
      text-indent: -9999em

      &:focus
        outline: none
        background-color: black(.9)

    a.random
      width: 40px
      height: @width
      position: absolute
      top: 0
      left: 0
      z-index: 10
      background: url(images/icon-shuffle.svg) no-repeat center center
      background-size: 20px 20px
      text-indent: -9999em

      &:focus
        outline: none
        background-color: black(.9)

  h1
    margin-bottom: 20px
    font-size: 80px

  h2
    margin-bottom: 10px
    font-size: 20px
    line-height: 1.2

  h3
    margin-bottom: 20px
    font-weight: $font-weight-medium
    font-size: 16px

    span:empty
      display: none

  .state:before
    content: ', '
  .country:before
    content: ' ∙ '

  .btn
    margin-top: 40px

  // Description and emphasized text
  .description
    em
      display: inline
      border-bottom: 1px solid white
      font-weight: $font-weight-medium
      text-transform: uppercase

  // Social share links
  .social
    margin: 30px 5px 0
    display: inline-block

    a
      width: 35px
      height: 25px
      display: block
      background: no-repeat center center
      background-size: auto @height
      text-indent: -9999em
      transition(none)

      &.twitter
        background-image: url(images/logo-twitter.svg)
      &.facebook
        background-image: url(images/logo-facebook.svg)

      &:hover,
      &:focus
        opacity: .6

      &:focus
        outline: none


  // Photographer credit and link
  .photo-credit
    padding: 7px
    z-index: 2
    background: black(.3)
    border-radius: 3px

    a
      color: white
      font-weight: $font-weight-bold

      &:hover
        opacity: .5

      &:focus
        color: $blue
        outline: none

// Narrow screens
@media (max-width: 650px)

  .detail
    width: 100%
    height: 100%

    .container
      width: 100%
      height: 100%
      padding: 60px 15px 30px
      overflow-y: auto
      // -webkit-overflow-scrolling: touch

    .detail-info
      min-height: 320px
      padding: 25px
      padding-top: 40px
      position: relative
      top: 0
      left: 0

    .photo-credit
      margin: 20px 0
      position: relative
      display: inline-block

    .back
      background: black(.6)


// Wide screens
@media (min-width: 651px)

  .detail

    .detail-info
      min-width: 450px
      max-width: 750px
      padding: 50px
      {centerContent}

    .photo-credit
      position: absolute
      top: 15px
      right: 15px


// Wide but short screens
@media (min-width: 651px) and (max-height: 550px)

  .detail
    width: 100%
    height: 100%

    .container
      width: 100%
      height: 100%
      padding: 60px 15px 30px
      overflow-y: auto
      // -webkit-overflow-scrolling: touch

    .detail-info
      min-height: 320px
      margin: 0 auto
      position: relative
      top: 0
      left: 0
      transform(none)

    .photo-credit,
    .back
      background: black(.6)
