//- Search styling

header
  width: 100%
  height: 50px
  padding: 10px 15px
  position: fixed
  top: 0
  left: 0
  z-index: 1
  background: #40bae2
  box-shadow: 0 2px 3px black(.2)

  nav
    position: relative

  h1
    margin-top: 8px
    float: left
    color: white

    a
      color: white

      &.about
        margin-left: 10px
        color: $grey-drk

      &:hover
        opacity: .5

  input
    width: 50%
    margin-top: 1px
    padding: 5px 10px 5px 30px
    float: right
    background: white url(images/icon-search.svg) no-repeat 8px 6px
    background-size: 14px auto
    border-radius: 4px
    border: 1px solid white
    font-size: 14px
    font-family: Georgia, serif
    font-style: italic
    line-height: 1

    &:focus
      outline: none

  .search-close
    display: none

@media (max-width: 500px)

  header

    input
      width: 30px
      margin-left: 15px
      padding-left: 20px
      position: absolute
      right: 0
      transition: width ease-out .2s

      &:hover
        cursor: pointer

      &:focus
        width: 100%
        padding-left: 30px

        &:hover
          cursor: default

        & + .search-close
          width: 30px
          height: 30px
          position: absolute
          right: 0
          top: 0
          display: block
          background: url(images/icon-close.svg) no-repeat 6px 7px
          background-size: 15px auto
          -webkit-animation: fadein .5s
          animation: fadein .5s

          @keyframes fadein
            from
              opacity: 0
            to
              opacity: 1

          &:hover
            cursor: pointer