// Type

body
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  font-family: $font-family-brandon
  line-height: 1

h1, h2, h3, h4
  font-weight: $font-weight-bold
  text-transform: uppercase

p
  font-family: $font-family-clavo
  font-style: italic
  font-size: 18px
  line-height: 1.4

a
  text-decoration: none
  transition(all .2s ease-in)

// FOUT
h1, h2, h3, p, .back, .photo-credit, .btn, .card a
  transition(opacity .3s ease-in)

.wf-loading
  h1, h2, h3, p, .back, .photo-credit, .btn, .card a
    opacity: 0

.wf-active,
.wf-inactive
  h1, h2, h3, p, .back, .photo-credit, .btn, .card a
    opacity: 1
