@import 'globals/reset'
@import 'globals/variables'
@import 'globals/image-names'

@import 'components/base'
// @import 'components/icons'
@import 'components/type'
@import 'components/buttons'
@import 'components/header'
@import 'components/card'
@import 'components/detail'
@import 'components/site-info'
@import 'components/backgrounds'
