@import 'globals/reset'
@import 'globals/variables'

@import 'components/base'
// @import 'components/icons'
@import 'components/type'
// @import 'components/buttons'
@import 'components/header'
@import 'components/card'
// @import 'components/detail'
// @import 'components/site-info'
// @import 'components/backgrounds'

nav,
.airport-list
  opacity: 1
  transition(opacity .3s ease-in)

.cf
  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both
