doctype
html
  head
    title Airport Codes
    link(rel='stylesheet', href='/app.css')
    include ./includes/typekit.html

  body

    div.detail.lost
      div.overlay
      div.container
        div.detail-info
          h1 OOPS
          div.description
            p This is not the airport you’re looking for.
          a.btn(href="/") Find another airport
        a.back(href="/") Airport Codes
