doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Airport Codes
    meta(name='description', content='Making sense of those three-letter airport codes.')
    script(src='app.js')
    link(rel='stylesheet', href='app.css')
    script(src='//use.typekit.net/sei6hkn.js')
    script try{Typekit.load();}catch(e){}
  body