doctype
html
  head
    title Airport Codes
    script(src="app.js")
    link(rel='stylesheet', href='app.css')
    script(src='//use.typekit.net/sei6hkn.js')
    script try{Typekit.load();}catch(e){}
  body