block vars
  - var title = "Airport Codes"
  - var description = "An illustration project explaining 3-letter airport codes."

extends layout

block content

  .airport.dark.airport-JFK
    img(src="/images/airport-JFK.svg")
    h2.airport-code JFK
    h3.airport-name John F. Kennedy International Airport
      span.city New York City
    p In 1963, Idlewild Airport was renamed in dedication to 
      span J
      | ohn 
      span F
      | . 
      span K
      | ennedy. Unlike many other airports, it also changed its IATA code from IDL to JFK.

  .airport.dark.airport-MSY
    img(src="/images/airport-MSY.svg")
    h2.airport-code MSY
    h3.airport-name Louis Armstrong International Airport
      span.city New Orleans
    p In 2001 the airport was named after jazz legend Louis Armstrong, but was previously called 
      span M
      | oisant 
      span S
      | tock 
      span Y
      | ards, after aviator John Moisant.

  .airport.light.airport-PHX
    img(src="/images/airport-PHX.svg")
    h2.airport-code PHX
    h3.airport-name Sky Harbor International Airport
      span.city Phoenix
    p Before the 1930’s, airports had two-letter codes. When codes switched to three letters, many added the letter ‘X’ to the end. 
      span Ph
      | oeni
      span x
      = ' '
      | is one where the ‘X’ makes perfect sense.

  .airport.dark.airport-ORD
    img(src="/images/airport-ORD.svg")
    h2.airport-code ORD
    h3.airport-name O’Hare International Airport
      span.city Chicago
    p Before the airport was renamed after Medal of Honor recipient Edward O’Hare in 1949, it was known as 
      span O
      | rcha
      span rd
      = ' '
      | Field Airport and received its IATA code of ORD.

  .airport.dark.airport-SFO
    img(src="/images/airport-SFO.svg")
    h2.airport-code SFO
    h3.airport-name San Francisco International Airport
      span.city San Francisco
    p Before the 1930’s, airports had two-letter codes. When codes switched to three letters, many added the letter ‘X’ to the end. 
      span S
      | an 
      span F
      | rancisc
      span o
      = ' '
      | instead used its last letter ‘O’ to make SFO.