doctype html
html(lang="en")

  //- Variable block for page-specific info
  block vars
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title #{title}
    meta(name='description', content='#{description}')
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/main.css")

    script(type="text/javascript", src="//use.typekit.net/sei6hkn.js")
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  body.cf

    block content

    include includes/ga.html