div.overlay
div.container
  div.content
    h1 Contribute
    p There are lots (and we mean lots!) of airports in the world. We’ll add as many as we can and we encourage you to contribute airports, too.
    p A couple ways you can help make the site more awesome:
    ul
      li Tweet your airport suggestions to 
        a(href="https://twitter.com/lynnandtonic") @lynnandtonic
        = ' '
        | on Twitter.
      li Contribute code and/or content to Airport Codes via 
        a(href="https://github.com/lynnandtonic/airport-codes") GitHub
        | .
      li Like this project? #[a(href='https://www.buymeacoffee.com/lynnandtonic') Buy me a coffee].
    hr
    p.quote.center Fly well, friends.
    a.btn(href="#") Back to Airport Codes
    hr

a.back(href="#") Airport Codes
