nav.cf
  h1
    a(href="#") Airport Codes
    a.nav-about(href="#about") About
  input(type="text", name="search", autocomplete="off", autocorrect="off", placeholder="Find your airport")
  button.clear(type="reset")